force-app/main/default/flows/Addl_HH_Member_Contact_Process_after_Creation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Agreement_Email</name>
        <label>Send Agreement Email</label>
        <locationX>691</locationX>
        <locationY>373</locationY>
        <actionName>NES_AddHHMemApexController</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <elementReference>ActionType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>addlHHMember</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>v2Role</name>
            <value>
                <elementReference>$Record.V2_Role__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <constants>
        <name>ActionType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Send Agreement Email</stringValue>
        </value>
    </constants>
    <constants>
        <name>QueueName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Enrollment_Support_Queue</stringValue>
        </value>
    </constants>
    <constants>
        <description>Account Review value for Ticket Type field of Ticket.</description>
        <name>TicketType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Account Review</stringValue>
        </value>
    </constants>
    <description>This flow will be triggered for Addl HH Members being created from Portal.</description>
    <formulas>
        <description>Contact Name</description>
        <name>ContactName</name>
        <dataType>String</dataType>
        <expression>{!$Record.FirstName}  + {!$Record.LastName}</expression>
    </formulas>
    <formulas>
        <name>Description</name>
        <dataType>String</dataType>
        <expression>{!$Record.FirstName}&amp; &quot; &quot; &amp;{!$Record.LastName} &amp; &quot;, &quot; &amp;{!$Record.Email} &amp; &quot;,&quot; &amp;{!$Record.HomePhone}&amp; &quot; &quot; &amp;{!$Record.hed__WorkPhone__c}&amp; &quot; &quot; &amp;{!$Record.MobilePhone}&amp; &quot; &quot; &amp;{!$Record.OtherPhone}&amp; &quot;,&quot; &amp;{!$Record.RecordType.Name}</expression>
    </formulas>
    <interviewLabel>Addl HH Member Contact Process after Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Addl HH Member Contact Process after Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create Ticket and associate it to Addl HH Member Contact being created.</description>
        <name>Create_Ticket</name>
        <label>Create Ticket</label>
        <locationX>484</locationX>
        <locationY>334</locationY>
        <connector>
            <targetReference>Send_Agreement_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Queue_Name.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Enrollment_Support_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Working</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Request to add a Household Member</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject_Name__c</field>
            <value>
                <elementReference>ContactName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>System_of_Origin__c</field>
            <value>
                <stringValue>New Enrollment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ticket_Sub_Type__c</field>
            <value>
                <stringValue>Account Access Requests / Changes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ticket_Type__c</field>
            <value>
                <stringValue>Account Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Enrollment Assistance</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Enrollment_Support_Record_Type</name>
        <label>Get Enrollment Support Record Type</label>
        <locationX>192</locationX>
        <locationY>366</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Queue_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Enrollment_Support</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_Name</name>
        <label>Get Queue Name</label>
        <locationX>350</locationX>
        <locationY>365</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Ticket</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QueueName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Enrollment_Support_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Unverified__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
