force-app/main/default/flows/assignNextDocumentReview.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>apexNextDocumentReview</name>
        <label>apexNextDocumentReview</label>
        <locationX>512</locationX>
        <locationY>173</locationY>
        <actionName>NES_DocumentReviewUtils</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>checkNextRecord</targetReference>
        </connector>
        <inputParameters>
            <name>gradeLevels</name>
            <value>
                <elementReference>selectedGradeLevels</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>educationalInstitution</name>
            <value>
                <elementReference>selectedEducationalInstitution</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>schoolYears</name>
            <value>
                <elementReference>selectedSchoolYears</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queue</name>
            <value>
                <elementReference>selectedQueue</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>resultSize</assignToReference>
            <name>size</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>resultNextId</assignToReference>
            <name>nextId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>resultStatusReason</assignToReference>
            <name>statusReason</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>navigateToRecord</name>
        <label>navigateToRecord</label>
        <locationX>1059</locationX>
        <locationY>335</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>screenResults</targetReference>
        </connector>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>resultNextId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>assignDocumentReviewOwner</name>
        <label>assignDocumentReviewOwner</label>
        <locationX>809</locationX>
        <locationY>336</locationY>
        <assignmentItems>
            <assignToReference>documentReviewRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentUser</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateDocumentReview</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignMultiselect</name>
        <label>assignMultiselect</label>
        <locationX>369</locationX>
        <locationY>173</locationY>
        <assignmentItems>
            <assignToReference>selectedSchoolYears</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>School_Year_s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedGradeLevels</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Grade_Level_s</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>apexNextDocumentReview</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkNextRecord</name>
        <label>checkNextRecord</label>
        <locationX>661</locationX>
        <locationY>175</locationY>
        <defaultConnector>
            <targetReference>getDocumentReview</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>resultNextId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenResults</targetReference>
            </connector>
            <label>isNull</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>academicQueue</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Academic Documents</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>selectedQueue</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>educationalInstitutionList</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0126A000000VIJoQAO</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>selectedEducationalInstitution</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>gradeLevelList</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Grade_Level__c</object>
        <sortField>Order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>nonAcademicQueue</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Non Academic Documents</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>queueList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Queue_Type__c</picklistField>
        <picklistObject>Document_Review__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>schoolYearList</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>End_Date__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <object>School_Year__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>currentUser</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>assignNext {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign Next</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getDocumentReview</name>
        <label>getDocumentReview</label>
        <locationX>666</locationX>
        <locationY>338</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignDocumentReviewOwner</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>resultNextId</elementReference>
            </value>
        </filters>
        <object>Document_Review__c</object>
        <outputReference>documentReviewRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>updateDocumentReview</name>
        <label>updateDocumentReview</label>
        <locationX>944</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>navigateToRecord</targetReference>
        </connector>
        <inputReference>documentReviewRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>screenResults</name>
        <label>screenResults</label>
        <locationX>1058</locationX>
        <locationY>172</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>screenMatch</name>
            <fieldText>&lt;p&gt;&lt;b&gt;The next Document Review has been assigned to you. &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 255, 255);&quot;&gt;nextId: {!resultNextId}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 255, 255);&quot;&gt;statusReason: {!resultStatusReason}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>resultSize</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>screenNoMatch</name>
            <fieldText>&lt;p&gt;&lt;b&gt;No Document Reviews matches were found.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 255, 255);&quot;&gt;statusReason: {!resultStatusReason}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>resultSize</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenSelect</name>
        <label>screenSelect</label>
        <locationX>226</locationX>
        <locationY>173</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assignMultiselect</targetReference>
        </connector>
        <fields>
            <name>Queue</name>
            <choiceReferences>academicQueue</choiceReferences>
            <choiceReferences>nonAcademicQueue</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Queue</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Educational_Institution</name>
            <choiceReferences>educationalInstitutionList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Educational Institution</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>School_Year_s</name>
            <choiceReferences>schoolYearList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>School Year(s)</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Grade_Level_s</name>
            <choiceReferences>gradeLevelList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Grade Level(s)</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>screenSelect</startElementReference>
    <status>Active</status>
    <variables>
        <name>documentReviewRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Document_Review__c</objectType>
    </variables>
    <variables>
        <name>resultNextId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>resultSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>resultStatusReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedEducationalInstitution</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedGradeLevels</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedQueue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedSchoolYears</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
