force-app/main/default/flows/Copy_Lead_Data_to_Call_Log_Tasks.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <description>This Autolaunched Flow will copy some data from the lead object to a call log task.
This flow is called from the FEC task automation Process Builder
ADO#169317</description>
    <interviewLabel>Copy Lead Data to Call Log Tasks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Copy Lead Data to Call Log Tasks</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Lead_Info</name>
        <label>Get Lead Info</label>
        <locationX>688</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_call_log_with_lead_data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>v_Task_Who_ID</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>v_city</assignToReference>
            <field>City</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>v_Email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>v_First_Name</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>v_Grade_Going_Into</assignToReference>
            <field>Grade_Going_Into__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>v_Last_Name</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>v_Phone_Number</assignToReference>
            <field>Phone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>v_Zip</assignToReference>
            <field>PostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>v_School_Acronym</assignToReference>
            <field>School_Acronym__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>v_School_ID_Location</assignToReference>
            <field>School_ID_Location__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>v_State</assignToReference>
            <field>State</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>v_Street</assignToReference>
            <field>Street</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_call_log_with_lead_data</name>
        <label>Update call log with lead data</label>
        <locationX>688</locationX>
        <locationY>326</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>v_Task_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Act_City__c</field>
            <value>
                <elementReference>v_city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Act_Email__c</field>
            <value>
                <elementReference>v_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Act_First_Name__c</field>
            <value>
                <elementReference>v_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Act_Grade_Going_Into__c</field>
            <value>
                <elementReference>v_Grade_Going_Into</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Act_Last_Name__c</field>
            <value>
                <elementReference>v_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Act_Phone__c</field>
            <value>
                <elementReference>v_Phone_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Act_School_Acronym__c</field>
            <value>
                <elementReference>v_School_Acronym</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Act_School_ID_Location__c</field>
            <value>
                <elementReference>v_School_ID_Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Act_State__c</field>
            <value>
                <elementReference>v_State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Act_Street__c</field>
            <value>
                <elementReference>v_Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Act_Zip__c</field>
            <value>
                <elementReference>v_Zip</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <start>
        <locationX>562</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Lead_Info</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>v_city</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_First_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_Grade_Going_Into</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_Last_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_Phone_Number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_School_Acronym</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_School_ID_Location</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_State</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_Street</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_Task_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_Task_Who_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_Zip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
