force-app/main/default/flows/CS_PushUserInfoToSISSystem_ContactObj.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Invokes the NES_IdamUtilities</description>
        <name>UserInfoToSIS</name>
        <label>UserInfoToSIS</label>
        <locationX>996</locationX>
        <locationY>502</locationY>
        <actionName>NES_IdamUtilities</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contactRecType</name>
            <value>
                <elementReference>$Record.Contact_Record_Type_Text__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>eventTriggeredFieldLabel</name>
            <value>
                <stringValue>Request Type</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>eventTriggeredFieldValue</name>
            <value>
                <elementReference>$Record.Request_Type__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>eventType</name>
            <value>
                <elementReference>$Record.Request_Type__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>householdId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>$Record.Commuity_User__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_Contact_Fields</name>
        <label>Assign Contact Fields</label>
        <locationX>729</locationX>
        <locationY>277</locationY>
        <assignmentItems>
            <assignToReference>FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MiddleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MiddleName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_User_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_Fields_w_o_Email</name>
        <label>Assign Contact Fields w/o Email</label>
        <locationX>1224</locationX>
        <locationY>115</locationY>
        <assignmentItems>
            <assignToReference>FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MiddleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MiddleName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_User_Record_w_o_Email</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Email_Empty</name>
        <label>Is Email Empty ?</label>
        <locationX>723</locationX>
        <locationY>116</locationY>
        <defaultConnector>
            <targetReference>Assign_Contact_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact_Fields_w_o_Email</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Record Type and Request Type</description>
        <name>ReqType_Not_Equals_UserInfo_Update</name>
        <label>ReqType Not Equals UserInfo Update</label>
        <locationX>440</locationX>
        <locationY>515</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RecordTypeNotUserInfoUpdate</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Request_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>UserInfo Update</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Commuity_User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact_Record_Type_Text__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Caretaker</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact_Record_Type_Text__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Learning Coach</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UserInfoToSIS</targetReference>
            </connector>
            <label>RecordTypeNotUserInfoUpdate</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Record Type and Request Type</description>
        <name>ReqType_UserInfo_Update</name>
        <label>ReqType = UserInfo Update</label>
        <locationX>440</locationX>
        <locationY>118</locationY>
        <defaultConnector>
            <targetReference>ReqType_Not_Equals_UserInfo_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UserInfoUpdate</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UserInfo Update</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Commuity_User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact_Record_Type_Text__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Students</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact_Record_Type_Text__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Caretaker</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact_Record_Type_Text__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Learning Coach</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Email_Empty</targetReference>
            </connector>
            <label>UserInfoUpdate</label>
        </rules>
    </decisions>
    <description>The Flow is being triggered When Contact is created/updated as per the Requirement (ADO US # 216768). Added &apos;Update Records&apos; &amp; &apos;Assignment&apos; steps for ADO US # 217645. Added &apos;ReqType NotEquals UserInfo update&apos; for ADO US # 216774</description>
    <interviewLabel>CS_PushUserInfoToSISSystem_ContactObj {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CS_PushUserInfoToSISSystem_ContactObj</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_User_Record</name>
        <label>Update User Record</label>
        <locationX>730</locationX>
        <locationY>420</locationY>
        <connector>
            <targetReference>UserInfoToSIS</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Commuity_User__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MiddleName</field>
            <value>
                <elementReference>MiddleName</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record_w_o_Email</name>
        <label>Update User Record w/o Email</label>
        <locationX>1224</locationX>
        <locationY>411</locationY>
        <connector>
            <targetReference>UserInfoToSIS</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Commuity_User__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MiddleName</field>
            <value>
                <elementReference>MiddleName</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>ReqType_UserInfo_Update</targetReference>
        </connector>
        <object>Contact</object>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdamResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MiddleName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
