force-app/main/default/flows/CS_ProgramEnrollmentProcessFlow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>Program_Enrollment_Record_Type</name>
        <label>Program Enrollment Record Type</label>
        <locationX>504</locationX>
        <locationY>71</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Caretaker</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProgramEnrollmentRec.PE_Record_Type_Text__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Caretaker</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Push_Enrollments_To_SIS</targetReference>
            </connector>
            <label>Caretaker</label>
        </rules>
        <rules>
            <name>Student</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProgramEnrollmentRec.PE_Record_Type_Text__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Student</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Student_PE_Flow</targetReference>
            </connector>
            <label>Student</label>
        </rules>
    </decisions>
    <description>The Flow is being triggered from Process Builder when Program Enrollment &apos;s Ordering Hold Flag/Status got updated. Added this as a main process flow for Program Enrollment Object as part of US # 334984</description>
    <interviewLabel>CS_ProgramEnrollmentProcessFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CS_ProgramEnrollmentProcessFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Program_Enrollment_Record_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Push_Enrollments_To_SIS</name>
        <label>Push Enrollments To SIS</label>
        <locationX>742</locationX>
        <locationY>67</locationY>
        <flowName>CS_PushProgramEnrollmentUpdatesToSISSystem</flowName>
        <inputAssignments>
            <name>ProgramEnrollmentRecord</name>
            <value>
                <elementReference>ProgramEnrollmentRec</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Student_PE_Flow</name>
        <label>Student PE Flow</label>
        <locationX>514</locationX>
        <locationY>295</locationY>
        <flowName>CS_Student_ProgramEnrollment_Flow</flowName>
        <inputAssignments>
            <name>CaretakerContact</name>
            <value>
                <elementReference>ProgramEnrollmentRec.Caretaker_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>EducationalInstitution</name>
            <value>
                <elementReference>ProgramEnrollmentRec.School_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>HouseholdPE</name>
            <value>
                <elementReference>ProgramEnrollmentRec.Household_Program_Enrollment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PECheck</name>
            <value>
                <elementReference>PECheck</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProgramEnrollmentRecord</name>
            <value>
                <elementReference>ProgramEnrollmentRec</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>CaretakerContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EducationalInstitution</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>HouseholdPE</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PECheck</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProgramEnrollmentRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Program_Enrollment__c</objectType>
    </variables>
</Flow>
