force-app/main/default/flows/CS_PushEnrollmentDocumentUpdatesToSISSystem.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>PushEnrollDoc2SIS</name>
        <label>PushEnrollDoc2SIS</label>
        <locationX>1138</locationX>
        <locationY>361</locationY>
        <actionName>NES_IdamUtilities</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>EnrollmentDocRecord.Program_Enrollment__r.hed__Contact__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contactRecType</name>
            <value>
                <elementReference>EnrollmentDocRecord.Program_Enrollment__r.hed__Contact__r.RecordType.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>docId</name>
            <value>
                <elementReference>EnrollmentDocRecord.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>docStatus</name>
            <value>
                <elementReference>StatusLevelValue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>docStatusReason</name>
            <value>
                <elementReference>EnrollmentDocRecord.Status_Reason__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>docStatusText</name>
            <value>
                <elementReference>DocumentStatusText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>docType</name>
            <value>
                <elementReference>EnrollmentDocRecord.Type__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>eventTriggeredFieldLabel</name>
            <value>
                <stringValue>Deferred Doc Status</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>eventTriggeredFieldValue</name>
            <value>
                <stringValue>{!EnrollmentDocRecord.Status_Reason__c}/{!StatusLevelValue}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>eventType</name>
            <value>
                <stringValue>Document Status</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>householdId</name>
            <value>
                <elementReference>EnrollmentDocRecord.Program_Enrollment__r.hed__Contact__r.AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>EnrollmentDocRecord.Program_Enrollment__r.hed__Contact__r.Commuity_User__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Check_Child_PEs</name>
        <label>Check Child PEs ?</label>
        <locationX>958</locationX>
        <locationY>372</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ChildPExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChildStudentPEId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_Document_Central_Status_Meta_Data</targetReference>
            </connector>
            <label>ChildPExists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Student_PE</name>
        <label>Check Student PE ?</label>
        <locationX>731</locationX>
        <locationY>98</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>StudentPEExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StudentPEId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_Document_Central_Status_Meta_Data</targetReference>
            </connector>
            <label>StudentPEExists</label>
        </rules>
        <rules>
            <name>StudentPENotExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StudentPEId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_Child_PEs</targetReference>
            </connector>
            <label>StudentPENotExists</label>
        </rules>
    </decisions>
    <description>The Flow is being triggered from Process Builder when Enrollment Document&apos;s Status Reason is updated as per the Requirement (ADO US # 216780). Added Search Document Reason Message Step as per ADO US # 285971. Added &apos;Is Restrict To SIS Flag&apos; decision step as per ADO US # 298396</description>
    <interviewLabel>CS_PushEnrollmentDocumentUpdatesToSISSystem {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CS_PushEnrollmentDocumentUpdatesToSISSystem</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Search_Child_PEs</name>
        <label>Search Child PEs</label>
        <locationX>739</locationX>
        <locationY>370</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Child_PEs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Household_Program_Enrollment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EnrollmentDocRecord.Program_Enrollment__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PE_Record_Type_Text__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Student</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>Student_Program_SIS_Restrict__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>hed__Program_Enrollment__c</object>
        <outputAssignments>
            <assignToReference>ChildStudentPEId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Query the Document Central Status Mapping MDT with ED&apos;s Status Reason and results the Status Level as output</description>
        <name>Search_Document_Central_Status_Meta_Data</name>
        <label>Search Document Central Status Meta Data</label>
        <locationX>966</locationX>
        <locationY>99</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Search_Document_Reason_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EnrollmentDocRecord.Status_Reason__c</elementReference>
            </value>
        </filters>
        <object>Document_Central_Status_Mapping__mdt</object>
        <outputAssignments>
            <assignToReference>StatusLevelValue</assignToReference>
            <field>Status_Level__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Query the Document Reason Message MDT with ED&apos;s Status Reason and results the Message as output</description>
        <name>Search_Document_Reason_Message</name>
        <label>Search Document Reason Message</label>
        <locationX>1138</locationX>
        <locationY>99</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PushEnrollDoc2SIS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Document_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EnrollmentDocRecord.Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Enrollment_Document_Reason__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EnrollmentDocRecord.Status_Reason__c</elementReference>
            </value>
        </filters>
        <object>Document_Reason_Message__mdt</object>
        <outputAssignments>
            <assignToReference>DocumentStatusText</assignToReference>
            <field>Message__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>SearchStudentPE_0</name>
        <label>SearchStudentPE</label>
        <locationX>589</locationX>
        <locationY>96</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Student_PE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EnrollmentDocRecord.Program_Enrollment__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PE_Record_Type_Text__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Student</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>Student_Program_SIS_Restrict__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>hed__Program_Enrollment__c</object>
        <outputAssignments>
            <assignToReference>StudentPEId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>36</locationX>
        <locationY>78</locationY>
        <connector>
            <targetReference>SearchStudentPE_0</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ChildStudentPEId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChildStudentPERecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Program_Enrollment__c</objectType>
    </variables>
    <variables>
        <name>DocumentStatusText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>EnrollmentDocRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Enrollment_Document__c</objectType>
    </variables>
    <variables>
        <name>StatusLevelValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StudentPEId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StudentPERecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Program_Enrollment__c</objectType>
    </variables>
</Flow>
