force-app/main/default/flows/CS_PushEnrollmentToV2SystemsFlow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_Integration_Status</name>
        <label>Assign Integration Status</label>
        <locationX>650</locationX>
        <locationY>438</locationY>
        <assignmentItems>
            <assignToReference>EnrollmentRecord.Integration_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!EnrollmentRecord.PCx_CorrelationId__c} - Enrollment Event Published</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Enrollment_Integration_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FaultMessage</name>
        <label>FaultMessage</label>
        <locationX>652</locationX>
        <locationY>263</locationY>
        <assignmentItems>
            <assignToReference>FaultMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error Publishing the Event with Action Context as {!EnrollmentJsonParams.Action_Context__c} and GUID : {!EnrollmentRecord.PCx_CorrelationId__c} and the corresponding Program Enrollment Id: {!ProgramEnrollRec.Id}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LogError</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Enrollment_Exists</name>
        <label>Enrollment Exists</label>
        <locationX>629</locationX>
        <locationY>78</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EnrollmentRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_Enrollment_Parameters_from_MDT</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>The Flow is being used as a Sub Flow and triggered When PE Status = Complete and to publish event notification to V2 system as per ADO US # 334984</description>
    <interviewLabel>CS_PushEnrollmentToV2SystemsFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CS_PushEnrollmentToV2SystemsFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_and_Publish_Event</name>
        <label>Create and Publish Event</label>
        <locationX>931</locationX>
        <locationY>263</locationY>
        <connector>
            <targetReference>Update_PE_SIS_Status</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FaultMessage</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>actionContext__c</field>
            <value>
                <elementReference>EnrollmentJsonParams.Action_Context__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>action__c</field>
            <value>
                <elementReference>EnrollmentJsonParams.Action__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>applicationName__c</field>
            <value>
                <elementReference>EnrollmentJsonParams.ApplicationName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>correlationId__c</field>
            <value>
                <elementReference>EnrollmentRecord.PCx_CorrelationId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>enrollmentId__c</field>
            <value>
                <elementReference>EnrollmentRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>entity__c</field>
            <value>
                <elementReference>EnrollmentJsonParams.Entity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>locationId__c</field>
            <value>
                <elementReference>ProgramEnrollRec.hed__Account__r.ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>timestamp__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Enrollment_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>LogError</name>
        <label>LogError</label>
        <locationX>419</locationX>
        <locationY>263</locationY>
        <inputAssignments>
            <field>Class__c</field>
            <value>
                <stringValue>CS_PushEnrollmentToV2SystemsFlow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Content__c</field>
            <value>
                <elementReference>FaultMsg</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Level__c</field>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Method__c</field>
            <value>
                <stringValue>Create and Publish Event</stringValue>
            </value>
        </inputAssignments>
        <object>Peak_Apex_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Fetch_Enrollment</name>
        <label>Fetch Enrollment</label>
        <locationX>411</locationX>
        <locationY>75</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Enrollment_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Program_Enrollment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProgramEnrollRec.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>School_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProgramEnrollRec.Start_Year__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Enrollment_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProgramEnrollRec.Enrollment_Type__c</elementReference>
            </value>
        </filters>
        <object>Enrollment__c</object>
        <outputReference>EnrollmentRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Integration_Status__c</queriedFields>
        <queriedFields>PCx_CorrelationId__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Enrollment_Parameters_from_MDT</name>
        <label>Fetch Enrollment Parameters from MDT</label>
        <locationX>929</locationX>
        <locationY>75</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_and_Publish_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProgramEnrollRec.Enrollment_Type__c</elementReference>
            </value>
        </filters>
        <object>CS_Event_Notification_Params__mdt</object>
        <outputReference>EnrollmentJsonParams</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Action__c</queriedFields>
        <queriedFields>Action_Context__c</queriedFields>
        <queriedFields>ApplicationName__c</queriedFields>
        <queriedFields>Entity__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Enrollment_Integration_Status</name>
        <label>Update Enrollment Integration Status</label>
        <locationX>413</locationX>
        <locationY>438</locationY>
        <inputReference>EnrollmentRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PE_SIS_Status</name>
        <label>Update PE SIS Status</label>
        <locationX>930</locationX>
        <locationY>438</locationY>
        <connector>
            <targetReference>Assign_Integration_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProgramEnrollRec.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SIS_Integration_Status__c</field>
            <value>
                <stringValue>Restricted to SIS</stringValue>
            </value>
        </inputAssignments>
        <object>hed__Program_Enrollment__c</object>
    </recordUpdates>
    <start>
        <locationX>18</locationX>
        <locationY>54</locationY>
        <connector>
            <targetReference>Fetch_Enrollment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>EnrollmentJsonParams</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CS_Event_Notification_Params__mdt</objectType>
    </variables>
    <variables>
        <name>EnrollmentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Enrollment__c</objectType>
    </variables>
    <variables>
        <name>FaultMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProgramEnrollRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Program_Enrollment__c</objectType>
    </variables>
</Flow>
