force-app/main/default/flows/CS_PushProgramEnrollmentUpdatesToSISSystem.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>PushPEToSIS</name>
        <label>PushPEToSIS</label>
        <locationX>462</locationX>
        <locationY>299</locationY>
        <actionName>NES_IdamUtilities</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>eventTriggeredFieldLabel</name>
            <value>
                <stringValue>Ordering Hold Flag</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>eventTriggeredFieldValue</name>
            <value>
                <elementReference>ProgramEnrollmentRecord.OrderingHoldFlag__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>eventType</name>
            <value>
                <stringValue>Ordering Hold Flag</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>householdId</name>
            <value>
                <elementReference>ProgramEnrollmentRecord.hed__Contact__r.AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderingHoldStatus</name>
            <value>
                <elementReference>ProgramEnrollmentRecord.OrderingHoldFlag__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>progEnrollmentId</name>
            <value>
                <elementReference>ProgramEnrollmentRecord.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <description>This decision checks whether the Program Enrollment is of type &quot;Caretaker&quot; or not.</description>
        <name>Is_Caretaker_PE</name>
        <label>Is Caretaker PE ?</label>
        <locationX>543</locationX>
        <locationY>71</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CT_Program_Enrollment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProgramEnrollmentRecord.PE_Record_Type_Text__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Caretaker</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_Student_PEs</targetReference>
            </connector>
            <label>CT Program Enrollment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Student_PE_available</name>
        <label>Is Student PE available</label>
        <locationX>740</locationX>
        <locationY>306</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Student_PE_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecExists</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PushPEToSIS</targetReference>
            </connector>
            <label>Student PE Available</label>
        </rules>
    </decisions>
    <description>The Flow is being triggered from Process Builder when Program Enrollment  is updated as per the Requirement (ADO US # 216777). This Flow is also designed to trigger on Program Enrollments that don&apos;t have the associated Household Accounts flagged as restricted to SIS (ADO US #. 298396)</description>
    <interviewLabel>CS_PushProgramEnrollmentToSISSystem {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CS_PushProgramEnrollmentUpdatesToSISSystem</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Search_Student_PEs</name>
        <label>Search Student PEs</label>
        <locationX>942</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Student_PE_available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Household_Program_Enrollment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProgramEnrollmentRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PE_Record_Type_Text__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Student</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <object>hed__Program_Enrollment__c</object>
        <outputAssignments>
            <assignToReference>RecExists</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Is_Caretaker_PE</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ProgramEnrollmentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Program_Enrollment__c</objectType>
    </variables>
    <variables>
        <name>RecExists</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StudentPERecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Program_Enrollment__c</objectType>
    </variables>
</Flow>
