force-app/main/default/flows/CS_Student_Info_Update_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Student_Contact</name>
        <label>Assign Student Contact</label>
        <locationX>987</locationX>
        <locationY>60</locationY>
        <assignmentItems>
            <assignToReference>StudentContact</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_PEs.hed__Contact__r.Contact_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Student_PE_Complete</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Student_PE_Complete</name>
        <label>Assign Student PE_Complete</label>
        <locationX>1318</locationX>
        <locationY>2</locationY>
        <assignmentItems>
            <assignToReference>CompletedStudentPEs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_PEs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EnrolledStudentCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaretakerContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_PEs.Caretaker_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_PEs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Student_PE_InProgress</name>
        <label>Assign Student PE_InProgress</label>
        <locationX>1323</locationX>
        <locationY>132</locationY>
        <assignmentItems>
            <assignToReference>InProgressStudentPEs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_PEs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaretakerContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_PEs.Caretaker_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_PEs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_StudentSchoolContact</name>
        <label>Assign StudentSchoolContact</label>
        <locationX>1066</locationX>
        <locationY>264</locationY>
        <assignmentItems>
            <assignToReference>StudentSchoolContact</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_CT_Student_PEs.ContactSchool__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Student_SchoolContact_PE_InProgress</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Enrolled_Count_Update_Required</name>
        <label>Is Enrolled Count Update Required?</label>
        <locationX>407</locationX>
        <locationY>75</locationY>
        <defaultConnector>
            <targetReference>Update_Disposition_Indicator_Applicant</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PECheck</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_associated_Inst_PEs</targetReference>
            </connector>
            <label>Required?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_InProgress_PE</name>
        <label>Is InProgress PE</label>
        <locationX>604</locationX>
        <locationY>277</locationY>
        <defaultConnector>
            <targetReference>Get_All_CTs_Student_PEs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>InProgressPE_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InProgressStudentPEs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Disposition_Indicator_Applicant</targetReference>
            </connector>
            <label>InProgressPE Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Student_Included</name>
        <label>Is Student Included?</label>
        <locationX>839</locationX>
        <locationY>70</locationY>
        <defaultConnector>
            <targetReference>Assign_Student_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StudentContact</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_through_PEs.hed__Contact__r.Contact_Id__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_PEs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Student_PE_Complete</name>
        <label>Is Student PE Complete?</label>
        <locationX>1127</locationX>
        <locationY>63</locationY>
        <defaultConnector>
            <targetReference>Assign_Student_PE_InProgress</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_PEs.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Student_PE_Complete</targetReference>
            </connector>
            <label>Complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Student_School_Contact_Included</name>
        <label>Is Student School Contact Included?</label>
        <locationX>946</locationX>
        <locationY>270</locationY>
        <defaultConnector>
            <targetReference>Assign_StudentSchoolContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SchoolContactIncluded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StudentSchoolContact</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_through_CT_Student_PEs.ContactSchool__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_CT_Student_PEs</targetReference>
            </connector>
            <label>SchoolContactIncluded</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Student_SchoolContact_PE_InProgress</name>
        <label>Is Student SchoolContact PE InProgress?</label>
        <locationX>1196</locationX>
        <locationY>264</locationY>
        <defaultConnector>
            <targetReference>Loop_through_CT_Student_PEs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SchoolContactPEInProgress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_CT_Student_PEs.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Disposition_Indicator_Applicant</targetReference>
            </connector>
            <label>SchoolContactPEInProgress</label>
        </rules>
    </decisions>
    <description>Updates the Enrolled Students Count and Disposition Indicator</description>
    <interviewLabel>CS Student Info Update Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CS Student Info Update Flow</label>
    <loops>
        <name>Loop_through_CT_Student_PEs</name>
        <label>Loop through CTStudent PEs</label>
        <locationX>845</locationX>
        <locationY>273</locationY>
        <collectionReference>CaretakersAllStudentPEs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Student_School_Contact_Included</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Disposition_Indicator_Enrolled</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_PEs</name>
        <label>Loop through PEs</label>
        <locationX>677</locationX>
        <locationY>73</locationY>
        <collectionReference>AllAssociatedPEs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Student_Included</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Enrolled_Count</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_CTs_Student_PEs</name>
        <label>Get All CTs Student PEs</label>
        <locationX>746</locationX>
        <locationY>274</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_CT_Student_PEs</targetReference>
        </connector>
        <filters>
            <field>Caretaker_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaretakerContact</elementReference>
            </value>
        </filters>
        <filters>
            <field>PE_Record_Type_Text__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Student</stringValue>
            </value>
        </filters>
        <object>hed__Program_Enrollment__c</object>
        <outputReference>CaretakersAllStudentPEs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Total_Count_of_Enrolled_Students__c</queriedFields>
        <queriedFields>ContactSchool__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_associated_Inst_PEs</name>
        <label>Get associated  Educational Inst PEs</label>
        <locationX>552</locationX>
        <locationY>73</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_PEs</targetReference>
        </connector>
        <filters>
            <field>Household_Program_Enrollment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>HouseholdPE</elementReference>
            </value>
        </filters>
        <filters>
            <field>School_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EducationalInstitution</elementReference>
            </value>
        </filters>
        <filters>
            <field>PE_Record_Type_Text__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Student</stringValue>
            </value>
        </filters>
        <object>hed__Program_Enrollment__c</object>
        <outputReference>AllAssociatedPEs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>hed__Contact__c</queriedFields>
        <queriedFields>School_Name__c</queriedFields>
        <queriedFields>Caretaker_Contact__c</queriedFields>
        <queriedFields>Formula_Count_of_Enrolled_Students__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_Disposition_Indicator_Applicant</name>
        <label>Update Disposition Indicator-Applicant</label>
        <locationX>1430</locationX>
        <locationY>208</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaretakerContact</elementReference>
            </value>
        </filters>
        <filters>
            <field>CT_Disposition_Indicator__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Applicant</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CT_Disposition_Indicator__c</field>
            <value>
                <stringValue>Applicant</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Disposition_Indicator_Enrolled</name>
        <label>Update Disposition Indicator-Enrolled</label>
        <locationX>1431</locationX>
        <locationY>356</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaretakerContact</elementReference>
            </value>
        </filters>
        <filters>
            <field>CT_Disposition_Indicator__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Enrolled</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CT_Disposition_Indicator__c</field>
            <value>
                <stringValue>Enrolled</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Enrolled_Count</name>
        <label>Update Enrolled Count</label>
        <locationX>497</locationX>
        <locationY>275</locationY>
        <connector>
            <targetReference>Is_InProgress_PE</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>HouseholdPE</elementReference>
            </value>
        </filters>
        <filters>
            <field>Total_Count_of_Enrolled_Students__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>EnrolledStudentCount</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Count_of_Enrolled_Students__c</field>
            <value>
                <elementReference>EnrolledStudentCount</elementReference>
            </value>
        </inputAssignments>
        <object>hed__Program_Enrollment__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>54</locationY>
        <connector>
            <targetReference>Is_Enrolled_Count_Update_Required</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AllAssociatedPEs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>hed__Program_Enrollment__c</objectType>
    </variables>
    <variables>
        <name>CaretakerContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaretakersAllStudentPEs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>hed__Program_Enrollment__c</objectType>
    </variables>
    <variables>
        <name>CompletedStudentPEs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>hed__Program_Enrollment__c</objectType>
    </variables>
    <variables>
        <name>EducationalInstitution</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EnrolledStudentCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>HouseholdPE</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InProgressStudentPEs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>hed__Program_Enrollment__c</objectType>
    </variables>
    <variables>
        <name>PECheck</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StudentContact</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>StudentSchoolContact</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
