force-app/main/default/flows/CS_Student_ProgramEnrollment_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Restrict_To_SIS_Y</name>
        <label>Restrict To SIS = Y</label>
        <locationX>490</locationX>
        <locationY>71</locationY>
        <defaultConnector>
            <targetReference>Total_Count_of_Enrolled_Students</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProgramEnrollmentRecord.hed__Account__r.Restrict_to_SIS__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProgramEnrollmentRecord.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PushEnrollments_To_V2_System</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>The Flow is being used as a Sub Flow and triggered When PE&apos;s Program&apos;s Restrict 2 SIS = Y as per ADO US # 334984</description>
    <interviewLabel>CS_Student_ProgramEnrollment_Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CS_Student_ProgramEnrollment_Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Restrict_To_SIS_Y</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>PushEnrollments_To_V2_System</name>
        <label>PushEnrollments To V2 System</label>
        <locationX>751</locationX>
        <locationY>70</locationY>
        <connector>
            <targetReference>Total_Count_of_Enrolled_Students</targetReference>
        </connector>
        <flowName>CS_PushEnrollmentToV2SystemsFlow</flowName>
        <inputAssignments>
            <name>ProgramEnrollRec</name>
            <value>
                <elementReference>ProgramEnrollmentRecord</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Total_Count_of_Enrolled_Students</name>
        <label>Total Count of Enrolled Students</label>
        <locationX>632</locationX>
        <locationY>284</locationY>
        <flowName>CS_Student_Info_Update_Flow</flowName>
        <inputAssignments>
            <name>CaretakerContact</name>
            <value>
                <elementReference>ProgramEnrollmentRecord.Caretaker_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>EducationalInstitution</name>
            <value>
                <elementReference>ProgramEnrollmentRecord.School_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>HouseholdPE</name>
            <value>
                <elementReference>ProgramEnrollmentRecord.Household_Program_Enrollment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PECheck</name>
            <value>
                <elementReference>PECheck</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>CaretakerContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EducationalInstitution</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>HouseholdPE</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PECheck</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProgramEnrollmentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Program_Enrollment__c</objectType>
    </variables>
</Flow>
