force-app/main/default/flows/flowDocumentReviewPOA.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>assignComma</name>
        <label>assignComma</label>
        <locationX>612</locationX>
        <locationY>513</locationY>
        <assignmentItems>
            <assignToReference>custodyDetail</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignCustody</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignCustody</name>
        <label>assignCustody</label>
        <locationX>352</locationX>
        <locationY>505</locationY>
        <assignmentItems>
            <assignToReference>custodyDetail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaField</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopCustody</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignRecords</name>
        <label>assignRecords</label>
        <locationX>471</locationX>
        <locationY>145</locationY>
        <assignmentItems>
            <assignToReference>contactRecord.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>firstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactRecord.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactRecord.Birthdate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_of_Birth</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactRecord.Suffix</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>suffix</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactRecord.MiddleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>middleName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactRecord.Gender_Selector__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Gender</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>peRecord.Date_POA_Extension_Will_Expire__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_POA_Extension_will_expire</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>edRecord.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notes2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>edRecord.Status_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dynamicFSCValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>peRecord.EntranceAgeEligibilityOverride__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dynamicPicklistEntranceAgeElgOverride.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateContact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decisionAddComma</name>
        <label>decisionAddComma</label>
        <locationX>601</locationX>
        <locationY>349</locationY>
        <defaultConnector>
            <targetReference>assignComma</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>custodyDetail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignCustody</targetReference>
            </connector>
            <label>isNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionError</name>
        <label>decisionError</label>
        <locationX>134</locationX>
        <locationY>339</locationY>
        <defaultConnector>
            <targetReference>loopCustody</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isError</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>errorMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>isError</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>StatusReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status_Reason__c</picklistField>
        <picklistObject>Enrollment_Document__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varEntranceAgeElgOverride</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>EntranceAgeEligibilityOverride__c</picklistField>
        <picklistObject>hed__Program_Enrollment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varGender</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Gender_Selector__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>dynamicFSCValue</name>
        <dataType>String</dataType>
        <expression>{!dynamicPicklistFSC.value}</expression>
    </formulas>
    <formulas>
        <name>firstName</name>
        <dataType>String</dataType>
        <expression>{!Student_Name.firstName}</expression>
    </formulas>
    <formulas>
        <name>formulaField</name>
        <dataType>String</dataType>
        <expression>{!custodyRecord.Custody_Name__c} + &apos;(&apos; +TEXT( {!custodyRecord.Custody_Relationship__c}) + &apos;)&apos;</expression>
    </formulas>
    <formulas>
        <name>lastName</name>
        <dataType>String</dataType>
        <expression>{!Student_Name.lastName}</expression>
    </formulas>
    <formulas>
        <name>middleName</name>
        <dataType>String</dataType>
        <expression>{!Student_Name.middleName}</expression>
    </formulas>
    <formulas>
        <name>suffix</name>
        <dataType>String</dataType>
        <expression>{!Student_Name.suffix}</expression>
    </formulas>
    <interviewLabel>flowDocumentReviewPOA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Document Review: Proof of Age</label>
    <loops>
        <name>loopCustody</name>
        <label>loopCustody</label>
        <locationX>352</locationX>
        <locationY>336</locationY>
        <assignNextValueToReference>custodyRecord</assignNextValueToReference>
        <collectionReference>custodyRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>decisionAddComma</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Proof_of_Age</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>updateContact</name>
        <label>updateContact</label>
        <locationX>609</locationX>
        <locationY>145</locationY>
        <connector>
            <targetReference>updatePE</targetReference>
        </connector>
        <inputReference>contactRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateED</name>
        <label>updateED</label>
        <locationX>744</locationX>
        <locationY>298</locationY>
        <inputReference>edRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updatePE</name>
        <label>updatePE</label>
        <locationX>744</locationX>
        <locationY>146</locationY>
        <connector>
            <targetReference>updateED</targetReference>
        </connector>
        <inputReference>peRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>Proof_of_Age</name>
        <label>Proof of Age</label>
        <locationX>353</locationX>
        <locationY>147</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assignRecords</targetReference>
        </connector>
        <fields>
            <name>displayPEAndCustody</name>
            <fieldText>&lt;p&gt;&lt;b&gt; &lt;/b&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Entrance Age Eligibility Final: &lt;/b&gt;{!peRecord.EntranceAgeEligibilityFinal__c}&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Entrance Age Eligibility System: &lt;/b&gt;{!peRecord.EntranceAgeEligibilitySystem__c}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Custody:&lt;/b&gt; {!custodyDetail}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Student_Name</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldsToDisplayList</name>
                <value>
                    <stringValue>firstName,middleName,lastName,suffix</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>firstName</name>
                <value>
                    <elementReference>contactRecord.FirstName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lastName</name>
                <value>
                    <elementReference>contactRecord.LastName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleName</name>
                <value>
                    <elementReference>contactRecord.MiddleName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Student Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suffix</name>
                <value>
                    <elementReference>contactRecord.Suffix</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>displayGender</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Gender:&lt;/b&gt; {!contactRecord.Gender__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Gender</name>
            <choiceReferences>varGender</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Gender</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Date_of_Birth</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>contactRecord.Birthdate__c</elementReference>
            </defaultValue>
            <fieldText>Date of Birth</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Date_POA_Extension_will_expire</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>peRecord.Date_POA_Extension_Will_Expire__c</elementReference>
            </defaultValue>
            <fieldText>Date POA Extension will expire</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>dynamicPicklistFSC</name>
            <extensionName>c:dynamicPicklistFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>object</name>
                <value>
                    <stringValue>Enrollment_Document__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldLabel</name>
                <value>
                    <stringValue>Proof of Age (POA) Status</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>field</name>
                <value>
                    <stringValue>Status_Reason__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>controllingField</name>
                <value>
                    <stringValue>Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>controllingFieldValue</name>
                <value>
                    <elementReference>edRecord.Type__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>edRecord.Status_Reason__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>dynamicPicklistEntranceAgeElgOverride</name>
            <extensionName>c:dynamicPicklistFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>object</name>
                <value>
                    <stringValue>hed__Program_Enrollment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldLabel</name>
                <value>
                    <stringValue>Entrance Age Eligibility (Override)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>field</name>
                <value>
                    <stringValue>EntranceAgeEligibilityOverride__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>peRecord.EntranceAgeEligibilityOverride__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Notes2</name>
            <defaultValue>
                <stringValue>{!edRecord.Notes__c}</stringValue>
            </defaultValue>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>143</locationY>
        <connector>
            <targetReference>validateAndfetchRecords</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>validateAndfetchRecords</name>
        <label>validateAndfetchRecords</label>
        <locationX>174</locationX>
        <locationY>143</locationY>
        <connector>
            <targetReference>decisionError</targetReference>
        </connector>
        <flowName>flowDocumentReviewFetchRecords</flowName>
        <inputAssignments>
            <name>documentType</name>
            <value>
                <elementReference>documentType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>enrollmentDocumentID</name>
            <value>
                <elementReference>enrollmentDocumentID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>contactRecord</assignToReference>
            <name>contactRecord</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>custodyRecords</assignToReference>
            <name>custodyRecords</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>edRecord</assignToReference>
            <name>edRecord</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>errorMessage</assignToReference>
            <name>errorMessage</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>peRecord</assignToReference>
            <name>peRecord</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>contactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>custodyDetail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>custodyRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Student_Custody__c</objectType>
    </variables>
    <variables>
        <name>custodyRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Student_Custody__c</objectType>
    </variables>
    <variables>
        <name>documentType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>edRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Enrollment_Document__c</objectType>
    </variables>
    <variables>
        <name>enrollmentDocumentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>peRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Program_Enrollment__c</objectType>
    </variables>
</Flow>
