force-app/main/default/flows/flowDocumentReviewCO.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>assignComma</name>
        <label>assignComma</label>
        <locationX>712</locationX>
        <locationY>601</locationY>
        <assignmentItems>
            <assignToReference>custodyDetail</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignCustody</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignCustody</name>
        <label>assignCustody</label>
        <locationX>492</locationX>
        <locationY>594</locationY>
        <assignmentItems>
            <assignToReference>custodyDetail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaField</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopCustody</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignRecords</name>
        <label>assignRecords</label>
        <locationX>707</locationX>
        <locationY>179</locationY>
        <assignmentItems>
            <assignToReference>edRecord.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>componentNotes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>edRecord.Status_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dynamicFSCValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactRecord.Who_Has_Student_Custody__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>howCustodyDetermined</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateED</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decisionAddComma</name>
        <label>decisionAddComma</label>
        <locationX>701</locationX>
        <locationY>424</locationY>
        <defaultConnector>
            <targetReference>assignComma</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>custodyDetail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignCustody</targetReference>
            </connector>
            <label>isNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionError</name>
        <label>decisionError</label>
        <locationX>254</locationX>
        <locationY>415</locationY>
        <defaultConnector>
            <targetReference>loopCustody</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isError</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>errorMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>isError</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>defaultCusodyDet</name>
        <dataType>String</dataType>
        <displayField>Who_Has_Student_Custody__c</displayField>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactRecord.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
    </dynamicChoiceSets>
    <formulas>
        <name>dynamicFSCValue</name>
        <dataType>String</dataType>
        <expression>{!dynamicPicklistFSC.value}</expression>
    </formulas>
    <formulas>
        <name>formulaField</name>
        <dataType>String</dataType>
        <expression>{!custodyRecord.Custody_Name__c} + &apos;(&apos; +TEXT( {!custodyRecord.Custody_Relationship__c}) + &apos;)&apos;</expression>
    </formulas>
    <formulas>
        <name>howCustodyDetermined</name>
        <dataType>String</dataType>
        <expression>{!scHowCustodyDetermined.value}</expression>
    </formulas>
    <interviewLabel>Document Review: Custody Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Document Review: Custody Order</label>
    <loops>
        <name>loopCustody</name>
        <label>loopCustody</label>
        <locationX>492</locationX>
        <locationY>409</locationY>
        <assignNextValueToReference>custodyRecord</assignNextValueToReference>
        <collectionReference>custodyRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>decisionAddComma</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>screenDocumentReview</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>updateContact</name>
        <label>updateContact</label>
        <locationX>881</locationX>
        <locationY>337</locationY>
        <inputReference>contactRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateED</name>
        <label>updateED</label>
        <locationX>881</locationX>
        <locationY>179</locationY>
        <connector>
            <targetReference>updateContact</targetReference>
        </connector>
        <inputReference>edRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>screenDocumentReview</name>
        <label>screenDocumentReview</label>
        <locationX>494</locationX>
        <locationY>179</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assignRecords</targetReference>
        </connector>
        <fields>
            <name>componentInformation</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Student Name: &lt;/b&gt;{!contactRecord.Name}&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Date of Birth: &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!contactRecord.Birthdate__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: var(--lwc-fontSize3,0.8125rem); color: rgb(0, 0, 0);&quot;&gt;Custody: &lt;/b&gt;&lt;span style=&quot;font-size: var(--lwc-fontSize3,0.8125rem); color: rgb(0, 0, 0);&quot;&gt;{!custodyDetail}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scHowCustodyDetermined</name>
            <extensionName>c:dynamicPicklistFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>object</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldLabel</name>
                <value>
                    <stringValue>How custody is determined?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>field</name>
                <value>
                    <stringValue>Who_Has_Student_Custody__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>contactRecord.Who_Has_Student_Custody__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>dynamicPicklistFSC</name>
            <extensionName>c:dynamicPicklistFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>object</name>
                <value>
                    <stringValue>Enrollment_Document__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldLabel</name>
                <value>
                    <stringValue>Custody Order (CO) Status</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>field</name>
                <value>
                    <stringValue>Status_Reason__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>controllingField</name>
                <value>
                    <stringValue>Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>controllingFieldValue</name>
                <value>
                    <elementReference>edRecord.Type__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>edRecord.Status_Reason__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>componentNotes</name>
            <defaultValue>
                <stringValue>{!edRecord.Notes__c}</stringValue>
            </defaultValue>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>45</locationX>
        <locationY>172</locationY>
        <connector>
            <targetReference>validateAndFetchRecords</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>validateAndFetchRecords</name>
        <label>validateAndFetchRecords</label>
        <locationX>262</locationX>
        <locationY>172</locationY>
        <connector>
            <targetReference>decisionError</targetReference>
        </connector>
        <flowName>flowDocumentReviewFetchRecords</flowName>
        <inputAssignments>
            <name>documentType</name>
            <value>
                <elementReference>documentType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>enrollmentDocumentID</name>
            <value>
                <elementReference>enrollmentDocumentID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>contactRecord</assignToReference>
            <name>contactRecord</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>custodyRecords</assignToReference>
            <name>custodyRecords</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>edRecord</assignToReference>
            <name>edRecord</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>errorMessage</assignToReference>
            <name>errorMessage</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>peRecord</assignToReference>
            <name>peRecord</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>accountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>asiRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Annual_Student_Information__c</objectType>
    </variables>
    <variables>
        <name>contactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>custodyDetail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>custodyRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Student_Custody__c</objectType>
    </variables>
    <variables>
        <name>custodyRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Student_Custody__c</objectType>
    </variables>
    <variables>
        <name>documentType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>edRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Enrollment_Document__c</objectType>
    </variables>
    <variables>
        <name>enrollmentDocumentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>peRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Program_Enrollment__c</objectType>
    </variables>
</Flow>
