force-app/main/default/flows/flowDocumentReviewFetchRecords.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>assignErrorAccount</name>
        <label>assignErrorAccount</label>
        <locationX>1095</locationX>
        <locationY>690</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The required Account record cannot be found.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screenError</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignErrorASI</name>
        <label>assignErrorASI</label>
        <locationX>1607</locationX>
        <locationY>699</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The required Annual Student Information record cannot be found.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screenError</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignErrorCaretakerContacts</name>
        <label>assignErrorCaretakerContacts</label>
        <locationX>785</locationX>
        <locationY>556</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The required Account Related Caretaker Contacts record cannot be found.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screenError</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignErrorContact</name>
        <label>assignErrorContact</label>
        <locationX>1286</locationX>
        <locationY>586</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The required Contact record cannot be found.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screenError</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignErrorCustody</name>
        <label>assignErrorCustody</label>
        <locationX>1508</locationX>
        <locationY>559</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The required Custody record cannot be found.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screenError</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignErrorED</name>
        <label>assignErrorED</label>
        <locationX>914</locationX>
        <locationY>469</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The required Enrollment Document record cannot be found.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screenError</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignErrorEDId</name>
        <label>assignErrorEDId</label>
        <locationX>396</locationX>
        <locationY>506</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The required Enrollment Document ID cannot be found.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screenError</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignErrorEV</name>
        <label>assignErrorEV</label>
        <locationX>2344</locationX>
        <locationY>880</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The required &quot;Evaluation&quot; record cannot be found.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screenError</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignErrorExit</name>
        <label>assignErrorExit</label>
        <locationX>2471</locationX>
        <locationY>742</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The required &quot;IEP Exit Documentation&quot; record cannot be found.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screenError</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignErrorIEP</name>
        <label>assignErrorIEP</label>
        <locationX>2573</locationX>
        <locationY>599</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The required &quot;Individualized Education Program&quot; record cannot be found.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screenError</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignErrorImmunizatio</name>
        <label>assignErrorImmunization</label>
        <locationX>1779</locationX>
        <locationY>735</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The required Immunization record cannot be found.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screenError</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignErrorPAH</name>
        <label>assignErrorPAH</label>
        <locationX>3269</locationX>
        <locationY>847</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The required &quot;Home School Prior Academic History&quot; record cannot be found.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screenError</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignErrorPE_0</name>
        <label>assignErrorPE</label>
        <locationX>1033</locationX>
        <locationY>622</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The required Program Enrollment record cannot be found.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screenError</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignErrorPEId</name>
        <label>assignErrorPEId</label>
        <locationX>582</locationX>
        <locationY>508</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The required Program Enrollment ID cannot be found.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screenError</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignErrorRC</name>
        <label>assignErrorRC</label>
        <locationX>2855</locationX>
        <locationY>652</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The required &quot;Report Card&quot; record cannot be found.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screenError</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignErrorRelationship</name>
        <label>assignErrorRelationship</label>
        <locationX>2058</locationX>
        <locationY>705</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The required Relationship record cannot be found.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screenError</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignErrorSED</name>
        <label>assignErrorSED</label>
        <locationX>2160</locationX>
        <locationY>639</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The required Special Education record cannot be found.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screenError</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignErrorUT</name>
        <label>assignErrorUT</label>
        <locationX>3057</locationX>
        <locationY>733</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>One of the required &quot;Unofficial Transcript&quot; record cannot be found.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screenError</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decisionDocType</name>
        <label>decisionDocType</label>
        <locationX>1285</locationX>
        <locationY>153</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Custody_Orders</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>documentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Custody Order</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getCustody</targetReference>
            </connector>
            <label>Custody Order</label>
        </rules>
        <rules>
            <name>decisionASIdocType</name>
            <conditionLogic>1 OR 2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12 OR 13</conditionLogic>
            <conditions>
                <leftValueReference>documentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Home Language Survey</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>documentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Report of Health Examination</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>documentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>State Test Scores</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>documentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Physical Examination</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>documentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gifted Documentation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>documentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Immunization Records</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>documentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Master Agreement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>documentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Report Card</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>documentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unofficial Transcript</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>documentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Home School Prior Academic History</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>documentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Individualized Education Program</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>documentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IEP Exit Documentation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>documentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Evaluation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getASI</targetReference>
            </connector>
            <label>decisionASIDocType</label>
        </rules>
        <rules>
            <name>Proof_of_Age</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>documentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proof of Age</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getCustody</targetReference>
            </connector>
            <label>Proof of Age</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionPORDocumentType</name>
        <label>decisionPORDocumentType</label>
        <locationX>951</locationX>
        <locationY>63</locationY>
        <defaultConnector>
            <targetReference>getContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Proof_of_Residence</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>documentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proof of Residence</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getCaretakerContacts</targetReference>
            </connector>
            <label>Proof of Residence</label>
        </rules>
    </decisions>
    <decisions>
        <name>validateASIdecisionDocTypes</name>
        <label>validateASIdecisionDocTypes</label>
        <locationX>1650</locationX>
        <locationY>66</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsASINull2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>asiRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignErrorASI</targetReference>
            </connector>
            <label>IsASINull</label>
        </rules>
        <rules>
            <name>decisionSEDandIEPPlus</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>asiRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>documentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gifted Documentation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>documentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IEP Exit Documentation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>documentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Evaluation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>documentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Individualized Education Program</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getSED</targetReference>
            </connector>
            <label>decisionSEDandIEPPlus</label>
        </rules>
        <rules>
            <name>IsImmunizationRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>asiRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>documentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Immunization Records</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getImmunization</targetReference>
            </connector>
            <label>IsImmunizationRecprs</label>
        </rules>
        <rules>
            <name>IsMasterAgreement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>asiRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>documentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Master Agreement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getRelationships</targetReference>
            </connector>
            <label>IsMasterAgreement</label>
        </rules>
        <rules>
            <name>decisionRC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>asiRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>documentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Report Card</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getRC</targetReference>
            </connector>
            <label>decisionRC</label>
        </rules>
        <rules>
            <name>decisionUT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>asiRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>documentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unofficial Transcript</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getUT</targetReference>
            </connector>
            <label>decisionUT</label>
        </rules>
        <rules>
            <name>decisionPAH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>asiRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>documentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Home School Prior Academic History</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getPAH</targetReference>
            </connector>
            <label>decisionPAH</label>
        </rules>
    </decisions>
    <decisions>
        <name>validateCaretakerContact</name>
        <label>validateCaretakerContact</label>
        <locationX>776</locationX>
        <locationY>308</locationY>
        <defaultConnector>
            <targetReference>validateCommonRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsCaretakerContactNull1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vAccountRelatedCareTakerContacts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignErrorCaretakerContacts</targetReference>
            </connector>
            <label>IsCaretakerContactNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>validateCommonRecords</name>
        <label>validateCommonRecords</label>
        <locationX>1166</locationX>
        <locationY>362</locationY>
        <defaultConnector>
            <targetReference>decisionDocType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsEDNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>edRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>enrollmentDocumentID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignErrorED</targetReference>
            </connector>
            <label>IsEDNull</label>
        </rules>
        <rules>
            <name>IsPENull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>peRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignErrorPE_0</targetReference>
            </connector>
            <label>IsPENull</label>
        </rules>
        <rules>
            <name>IsAccountNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignErrorAccount</targetReference>
            </connector>
            <label>IsAccountNull</label>
        </rules>
        <rules>
            <name>IsContactNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>documentType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Proof of Residence</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignErrorContact</targetReference>
            </connector>
            <label>IsContactNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>validateCustody</name>
        <label>validateCustody</label>
        <locationX>1493</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CustodyIsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>custodyRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignErrorCustody</targetReference>
            </connector>
            <label>CustodyIsNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>validateEDId</name>
        <label>validateEDId</label>
        <locationX>390</locationX>
        <locationY>236</locationY>
        <defaultConnector>
            <targetReference>getED</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsEDIdNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>enrollmentDocumentID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>programEnrollmentID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignErrorEDId</targetReference>
            </connector>
            <label>IsEDIdNull</label>
        </rules>
        <rules>
            <name>IsPERecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>programEnrollmentID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>validatePEId</targetReference>
            </connector>
            <label>IsPERecord</label>
        </rules>
    </decisions>
    <decisions>
        <name>validateEV</name>
        <label>validateEV</label>
        <locationX>2338</locationX>
        <locationY>682</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>errorEV</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>evRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignErrorEV</targetReference>
            </connector>
            <label>errorEV</label>
        </rules>
    </decisions>
    <decisions>
        <name>validateExit</name>
        <label>validateExit</label>
        <locationX>2455</locationX>
        <locationY>538</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>errorExit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>exitRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignErrorExit</targetReference>
            </connector>
            <label>errorExit</label>
        </rules>
    </decisions>
    <decisions>
        <name>validateIEP</name>
        <label>validateIEP</label>
        <locationX>2565</locationX>
        <locationY>408</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>errorIEP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>iepRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignErrorIEP</targetReference>
            </connector>
            <label>errorIEP</label>
        </rules>
    </decisions>
    <decisions>
        <name>validateImmunizationRecord</name>
        <label>validateImmunizationRecord</label>
        <locationX>1762</locationX>
        <locationY>444</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsImmunizationNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>immunizationRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignErrorImmunizatio</targetReference>
            </connector>
            <label>IsImmunizationNull</label>
        </rules>
        <rules>
            <name>IsASINull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>asiRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignErrorASI</targetReference>
            </connector>
            <label>IsASINull</label>
        </rules>
    </decisions>
    <decisions>
        <name>validateMasterAgreement</name>
        <label>validateMasterAgreement</label>
        <locationX>2042</locationX>
        <locationY>439</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsRelationshipNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>relationshipRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignErrorRelationship</targetReference>
            </connector>
            <label>IsRelationshipNull</label>
        </rules>
        <rules>
            <name>IsASINull3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>asiRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignErrorASI</targetReference>
            </connector>
            <label>IsASINull</label>
        </rules>
    </decisions>
    <decisions>
        <name>validatePAH</name>
        <label>validatePAH</label>
        <locationX>3260</locationX>
        <locationY>393</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>errorPAH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>pahRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignErrorPAH</targetReference>
            </connector>
            <label>errorPAH</label>
        </rules>
    </decisions>
    <decisions>
        <name>validatePEId</name>
        <label>validatePEId</label>
        <locationX>587</locationX>
        <locationY>238</locationY>
        <defaultConnector>
            <targetReference>getPE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsPEIdNull1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>programEnrollmentID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignErrorPEId</targetReference>
            </connector>
            <label>IsPEIdNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>validateRC</name>
        <label>validateRC</label>
        <locationX>2846</locationX>
        <locationY>246</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>errorRC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rcRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignErrorRC</targetReference>
            </connector>
            <label>errorRC</label>
        </rules>
    </decisions>
    <decisions>
        <name>validateSEDdecisionIEPPlus</name>
        <label>validateSEDdecisionIEPPlus</label>
        <locationX>2155</locationX>
        <locationY>403</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsSEDNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sedRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignErrorSED</targetReference>
            </connector>
            <label>IsSEDNull</label>
        </rules>
        <rules>
            <name>decisionExit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sedRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>documentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IEP Exit Documentation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getExit</targetReference>
            </connector>
            <label>decisionExit</label>
        </rules>
        <rules>
            <name>decisionEvaluation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sedRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>documentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Evaluation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getEV</targetReference>
            </connector>
            <label>decisionEvaluation</label>
        </rules>
        <rules>
            <name>decisionIEP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sedRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>documentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Individualized Education Program</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getIEP</targetReference>
            </connector>
            <label>decisionIEP</label>
        </rules>
    </decisions>
    <decisions>
        <name>validateUT</name>
        <label>validateUT</label>
        <locationX>3050</locationX>
        <locationY>247</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>errorUT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>utRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignErrorUT</targetReference>
            </connector>
            <label>errorUT</label>
        </rules>
    </decisions>
    <interviewLabel>flowDocumentReviewFetchRecords {!$Flow.CurrentDateTime}</interviewLabel>
    <label>flowDocumentReviewFetchRecords</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getAccount</name>
        <label>getAccount</label>
        <locationX>781</locationX>
        <locationY>62</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decisionPORDocumentType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>peRecord.hed__Contact__r.Account.Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>accountRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>County_of_Residence__c</queriedFields>
        <queriedFields>District_of_Residence__c</queriedFields>
        <queriedFields>Type_of_Living_Accommodations__c</queriedFields>
        <queriedFields>ShippingAddress</queriedFields>
        <queriedFields>ShippingCity</queriedFields>
        <queriedFields>ShippingCountry</queriedFields>
        <queriedFields>ShippingStreet</queriedFields>
        <queriedFields>ShippingState</queriedFields>
        <queriedFields>ShippingPostalCode</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getASI</name>
        <label>getASI</label>
        <locationX>1476</locationX>
        <locationY>89</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>validateASIdecisionDocTypes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Program_Enrollment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>peRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>School_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>peRecord.Start_Year__c</elementReference>
            </value>
        </filters>
        <object>Annual_Student_Information__c</object>
        <outputReference>asiRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Grade_Level_Requested__c</queriedFields>
        <queriedFields>Final_Grade_Level__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Grade_Level_Completed__c</queriedFields>
        <queriedFields>GiftedProgramRequest_LA_M_S__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getCaretakerContacts</name>
        <label>getCaretakerContacts</label>
        <locationX>1076</locationX>
        <locationY>209</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>validateCaretakerContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>edRecord.Program_Enrollment_AccountId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0126A000000l4AbQAI</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>vAccountRelatedCareTakerContacts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getContact</name>
        <label>getContact</label>
        <locationX>1174</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>validateCommonRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>peRecord.hed__Contact__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>contactRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>MiddleName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Suffix</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Birthdate__c</queriedFields>
        <queriedFields>Gender__c</queriedFields>
        <queriedFields>Gender_Selector__c</queriedFields>
        <queriedFields>Who_Has_Student_Custody__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getCustody</name>
        <label>getCustody</label>
        <locationX>1497</locationX>
        <locationY>254</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>validateCustody</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Program_Enrollment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>peRecord.Id</elementReference>
            </value>
        </filters>
        <object>Student_Custody__c</object>
        <outputReference>custodyRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Custody_Name__c</queriedFields>
        <queriedFields>Custody_Relationship__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>getEnrollmentDocument</description>
        <name>getED</name>
        <label>getED</label>
        <locationX>401</locationX>
        <locationY>64</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getPE1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>enrollmentDocumentID</elementReference>
            </value>
        </filters>
        <object>Enrollment_Document__c</object>
        <outputReference>edRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Program_Enrollment__c</queriedFields>
        <queriedFields>PE_ContactID__c</queriedFields>
        <queriedFields>Status_Reason__c</queriedFields>
        <queriedFields>Program_Enrollment_AccountId__c</queriedFields>
        <queriedFields>Notes__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>getEV</name>
        <label>getEV</label>
        <locationX>2344</locationX>
        <locationY>506</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>validateEV</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Program_Enrollment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>peRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Evaluation</stringValue>
            </value>
        </filters>
        <object>Enrollment_Document__c</object>
        <outputReference>evRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Program_Enrollment__c</queriedFields>
        <queriedFields>PE_ContactID__c</queriedFields>
        <queriedFields>Status_Reason__c</queriedFields>
        <queriedFields>Program_Enrollment_AccountId__c</queriedFields>
        <queriedFields>Notes__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getExit</name>
        <label>getExit</label>
        <locationX>2462</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>validateExit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Program_Enrollment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>peRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IEP Exit Documentation</stringValue>
            </value>
        </filters>
        <object>Enrollment_Document__c</object>
        <outputReference>exitRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Program_Enrollment__c</queriedFields>
        <queriedFields>PE_ContactID__c</queriedFields>
        <queriedFields>Status_Reason__c</queriedFields>
        <queriedFields>Program_Enrollment_AccountId__c</queriedFields>
        <queriedFields>Notes__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getIEP</name>
        <label>getIEP</label>
        <locationX>2573</locationX>
        <locationY>245</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>validateIEP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Program_Enrollment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>peRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Individualized Education Program</stringValue>
            </value>
        </filters>
        <object>Enrollment_Document__c</object>
        <outputReference>iepRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Program_Enrollment__c</queriedFields>
        <queriedFields>PE_ContactID__c</queriedFields>
        <queriedFields>Status_Reason__c</queriedFields>
        <queriedFields>Program_Enrollment_AccountId__c</queriedFields>
        <queriedFields>Notes__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getImmunization</name>
        <label>getImmunization</label>
        <locationX>1772</locationX>
        <locationY>308</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>validateImmunizationRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Program_Enrollment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>peRecord.Id</elementReference>
            </value>
        </filters>
        <object>Health_and_Immunization__c</object>
        <outputReference>immunizationRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Immunization_Extension_Expire__c</queriedFields>
        <queriedFields>Immunization_Date_Of_Exemption__c</queriedFields>
        <queriedFields>Immunization_Exemption_Year__c</queriedFields>
        <queriedFields>Next_Shot_Due__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getPAH</name>
        <label>getPAH</label>
        <locationX>3267</locationX>
        <locationY>45</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>validatePAH</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Program_Enrollment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>peRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Home School Prior Academic History</stringValue>
            </value>
        </filters>
        <object>Enrollment_Document__c</object>
        <outputReference>pahRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status_Reason__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>Notes__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getPE</name>
        <label>getPE</label>
        <locationX>785</locationX>
        <locationY>180</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>programEnrollmentID</elementReference>
            </value>
        </filters>
        <object>hed__Program_Enrollment__c</object>
        <outputReference>peRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>hed__Contact__c</queriedFields>
        <queriedFields>Start_Year__c</queriedFields>
        <queriedFields>SIF_Gifted_Initial_Interest__c</queriedFields>
        <queriedFields>PlacementFlag__c</queriedFields>
        <queriedFields>EntranceAgeEligibility__c</queriedFields>
        <queriedFields>EntranceAgeEligibilityOverride__c</queriedFields>
        <queriedFields>Date_POA_Extension_Will_Expire__c</queriedFields>
        <queriedFields>hed__Account__c</queriedFields>
        <queriedFields>EntranceAgeElgOverrideReview__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getPE1</name>
        <label>getPE</label>
        <locationX>556</locationX>
        <locationY>64</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>edRecord.Program_Enrollment__c</elementReference>
            </value>
        </filters>
        <object>hed__Program_Enrollment__c</object>
        <outputReference>peRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>hed__Contact__c</queriedFields>
        <queriedFields>Start_Year__c</queriedFields>
        <queriedFields>SIF_Gifted_Initial_Interest__c</queriedFields>
        <queriedFields>PlacementFlag__c</queriedFields>
        <queriedFields>EntranceAgeEligibility__c</queriedFields>
        <queriedFields>EntranceAgeEligibilityOverride__c</queriedFields>
        <queriedFields>Date_POA_Extension_Will_Expire__c</queriedFields>
        <queriedFields>hed__Account__c</queriedFields>
        <queriedFields>EntranceAgeElgOverrideReview__c</queriedFields>
        <queriedFields>DatePORExtensionWillExpire__c</queriedFields>
        <queriedFields>EntranceAgeEligibilityFinal__c</queriedFields>
        <queriedFields>EntranceAgeEligibilitySystem__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getRC</name>
        <label>getRC</label>
        <locationX>2859</locationX>
        <locationY>126</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>validateRC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Program_Enrollment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>peRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Report Card</stringValue>
            </value>
        </filters>
        <object>Enrollment_Document__c</object>
        <outputReference>rcRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status_Reason__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>Notes__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getRelationships</name>
        <label>getRelationships</label>
        <locationX>2052</locationX>
        <locationY>308</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>validateMasterAgreement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>hed__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>hed__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </filters>
        <filters>
            <field>hed__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Parent</stringValue>
            </value>
        </filters>
        <object>hed__Relationship__c</object>
        <outputReference>relationshipRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>hed__RelatedContact__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getSED</name>
        <label>getSED</label>
        <locationX>2163</locationX>
        <locationY>216</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>validateSEDdecisionIEPPlus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Program_Enrollment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>peRecord.Id</elementReference>
            </value>
        </filters>
        <object>Special_Education__c</object>
        <outputReference>sedRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Previously_Identified_GT__c</queriedFields>
        <queriedFields>Gifted__c</queriedFields>
        <queriedFields>IEPHistory__c</queriedFields>
        <queriedFields>IEPLastUpdated__c</queriedFields>
        <queriedFields>FormallyExitedIEP__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getUT</name>
        <label>getUT</label>
        <locationX>3058</locationX>
        <locationY>88</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>validateUT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Program_Enrollment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>peRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Unofficial Transcript</stringValue>
            </value>
        </filters>
        <object>Enrollment_Document__c</object>
        <outputReference>utRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status_Reason__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>Notes__c</queriedFields>
    </recordLookups>
    <screens>
        <name>screenError</name>
        <label>screenError</label>
        <locationX>466</locationX>
        <locationY>833</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>scErrorMessage</name>
            <fieldText>&lt;p&gt;{!errorMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>234</locationY>
        <connector>
            <targetReference>validateEDId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>asiRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Annual_Student_Information__c</objectType>
    </variables>
    <variables>
        <name>contactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>custodyRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Student_Custody__c</objectType>
    </variables>
    <variables>
        <name>documentType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>edRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Enrollment_Document__c</objectType>
    </variables>
    <variables>
        <name>enrollmentDocumentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>evRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Enrollment_Document__c</objectType>
    </variables>
    <variables>
        <name>exitRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Enrollment_Document__c</objectType>
    </variables>
    <variables>
        <name>iepRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Enrollment_Document__c</objectType>
    </variables>
    <variables>
        <name>immunizationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Health_and_Immunization__c</objectType>
    </variables>
    <variables>
        <name>pahRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Enrollment_Document__c</objectType>
    </variables>
    <variables>
        <name>peRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>hed__Program_Enrollment__c</objectType>
    </variables>
    <variables>
        <name>programEnrollmentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rcRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Enrollment_Document__c</objectType>
    </variables>
    <variables>
        <name>relationshipRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>hed__Relationship__c</objectType>
    </variables>
    <variables>
        <name>sedRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Special_Education__c</objectType>
    </variables>
    <variables>
        <name>utRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Enrollment_Document__c</objectType>
    </variables>
    <variables>
        <name>vAccountRelatedCareTakerContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
