force-app/main/default/flows/flowPORWithDatatableFSC.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>beforeUIAssignments</name>
        <label>beforeUIAssignments</label>
        <locationX>621</locationX>
        <locationY>254</locationY>
        <assignmentItems>
            <assignToReference>accCountyOfResidence.recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.County_of_Residence__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accDistrictofResidence.recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.District_of_Residence__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Proof_of_Residence</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>userInputToRecordsAssignments</name>
        <label>userInputToRecordsAssignments</label>
        <locationX>1218</locationX>
        <locationY>56</locationY>
        <assignmentItems>
            <assignToReference>accountRecord.County_of_Residence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accCountyOfResidence.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountRecord.District_of_Residence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accDistrictofResidence.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountRecord.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShippingAddress.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountRecord.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShippingAddress.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountRecord.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShippingAddress.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountRecord.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShippingAddress.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountRecord.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShippingAddress.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PERecord.DatePORExtensionWillExpire__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>uiPEDatePORExtensionWillExpire</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getED.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ui_ED_Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getED.Status_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dynamicPicklistFSC.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateAccount</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>flowNo</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>flowYes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <description>Document Review &gt; Proof Of Residence Flow &gt; with Multi-row display</description>
    <dynamicChoiceSets>
        <name>edStatusReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status_Reason__c</picklistField>
        <picklistObject>Enrollment_Document__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>flowPORWithDatatableFSC {!$Flow.CurrentDateTime}</interviewLabel>
    <label>flow POR With DatatableFSC</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getAccount</name>
        <label>getAccount</label>
        <locationX>189</locationX>
        <locationY>219</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getPE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getED.Program_Enrollment_AccountId__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>accountRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BillingAddress</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
        <queriedFields>County_of_Residence__c</queriedFields>
        <queriedFields>District_of_Residence__c</queriedFields>
        <queriedFields>Type_of_Living_Accommodations__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getContact</name>
        <label>getContact</label>
        <locationX>440</locationX>
        <locationY>220</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>beforeUIAssignments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getED.PE_ContactID__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>contactRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>getEnrollmentDocument</description>
        <name>getED</name>
        <label>getED</label>
        <locationX>50</locationX>
        <locationY>212</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>enrollmentDocumentID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Enrollment_Document__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Program_Enrollment__c</queriedFields>
        <queriedFields>PE_ContactID__c</queriedFields>
        <queriedFields>Status_Reason__c</queriedFields>
        <queriedFields>Program_Enrollment_AccountId__c</queriedFields>
        <queriedFields>Notes__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getPE</name>
        <label>getPE</label>
        <locationX>315</locationX>
        <locationY>219</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getED.Program_Enrollment__c</elementReference>
            </value>
        </filters>
        <object>hed__Program_Enrollment__c</object>
        <outputReference>PERecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DatePORExtensionWillExpire__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>updateAccount</name>
        <label>updateAccount</label>
        <locationX>966</locationX>
        <locationY>240</locationY>
        <connector>
            <targetReference>updatePE</targetReference>
        </connector>
        <inputReference>accountRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateED</name>
        <label>updateED</label>
        <locationX>1146</locationX>
        <locationY>389</locationY>
        <inputReference>getED</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updatePE</name>
        <label>updatePE</label>
        <locationX>1240</locationX>
        <locationY>238</locationY>
        <connector>
            <targetReference>updateED</targetReference>
        </connector>
        <inputReference>PERecord</inputReference>
    </recordUpdates>
    <screens>
        <name>Document_Review_Proof_of_Residency_2</name>
        <label>Document Review: Proof of Residency</label>
        <locationX>1032</locationX>
        <locationY>54</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>userInputToRecordsAssignments</targetReference>
        </connector>
        <fields>
            <name>uiEDStatusReason</name>
            <choiceReferences>edStatusReason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Proof of Residency (POR) Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>dynamicPicklistFSC</name>
            <extensionName>c:dynamicPicklistFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>object</name>
                <value>
                    <stringValue>Enrollment_Document__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>field</name>
                <value>
                    <stringValue>Status_Reason__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>controllingField</name>
                <value>
                    <stringValue>Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>controllingFieldValue</name>
                <value>
                    <elementReference>getED.Type__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>getED.Status_Reason__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldLabel</name>
                <value>
                    <stringValue>Proof of Residency (POR) Status</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>uiPEDatePORExtensionWillExpire</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>PERecord.DatePORExtensionWillExpire__c</elementReference>
            </defaultValue>
            <fieldText>Date POR Extension will Expire</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ui_ED_Notes</name>
            <defaultValue>
                <stringValue>{!getED.Notes__c}</stringValue>
            </defaultValue>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Proof_of_Residence</name>
        <label>Proof of Residence</label>
        <locationX>884</locationX>
        <locationY>60</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Document_Review_Proof_of_Residency_2</targetReference>
        </connector>
        <fields>
            <name>DisplayText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Caretaker Name: &lt;/b&gt;{!contactRecord.FirstName} {!contactRecord.LastName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>nesDatatableFSC</name>
            <extensionName>c:NES_DatatableFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>querysObjectAPIName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClauseIDFieldValue</name>
                <value>
                    <stringValue>0012100000khSqgAAE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClauseIDFieldAPIName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_label</name>
                <value>
                    <stringValue>Contact Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_fieldName</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_icon</name>
                <value>
                    <stringValue>contact_list</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_sortable</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_label</name>
                <value>
                    <stringValue>Birth Date</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_fieldName</name>
                <value>
                    <stringValue>Birthdate</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_type</name>
                <value>
                    <stringValue>date-local</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_sortable</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_editable</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_label</name>
                <value>
                    <stringValue>Email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_fieldName</name>
                <value>
                    <stringValue>Email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_type</name>
                <value>
                    <stringValue>email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_sortable</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_editable</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column04_label</name>
                <value>
                    <stringValue>Lead Source</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column04_fieldName</name>
                <value>
                    <stringValue>LeadSource</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column04_sortable</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column04_editable</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column04_required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column05_label</name>
                <value>
                    <stringValue>Level</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column05_fieldName</name>
                <value>
                    <stringValue>Level__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column05_sortable</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column05_editable</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column06_label</name>
                <value>
                    <stringValue>Has Opted Out of Fax?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column06_fieldName</name>
                <value>
                    <stringValue>HasOptedOutOfFax</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column06_sortable</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column06_editable</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column06_required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column06_type</name>
                <value>
                    <stringValue>boolean</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ShippingAddress</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>accountRecord.BillingCity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>accountRecord.BillingCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Shipping Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>accountRecord.BillingPostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>accountRecord.BillingState</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>accountRecord.BillingStreet</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>accCountyOfResidence</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>County_of_Residence__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>County Of Residence</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>accCountyOfResidence.recordId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>accDistrictofResidence</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>District_of_Residence__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>District of Residence</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>accDistrictofResidence.recordId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>TypeofLivingAccommodations</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: verdana; font-size: 12px;&quot;&gt;Type of Living Accommodations&lt;/span&gt;&lt;/p&gt;&lt;p&gt;     {!accountRecord.Type_of_Living_Accommodations__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>80</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getED</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>contactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>enrollmentDocumentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PERecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Program_Enrollment__c</objectType>
    </variables>
    <variables>
        <name>vaccCountyOfResidence</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
