force-app/main/default/flows/flowDocumentReviewRCPlus.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>assignRecords</name>
        <label>assignRecords</label>
        <locationX>842</locationX>
        <locationY>102</locationY>
        <assignmentItems>
            <assignToReference>rcRecord.Status_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dynamicFSCRCValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcRecord.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RCNotes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>utRecord.Status_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dynamicFSCUTValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>utRecord.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UTNotes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>peRecord.PlacementFlag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dynamicPlacmentvlaue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>asiRecord.Grade_Level_Requested__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dynamicGLR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>asiRecord.Grade_Level_Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dynamicGC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pahRecord.Status_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dynamicFSCPAHValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pahRecord.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PAHNotes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateRC</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decisionError</name>
        <label>decisionError</label>
        <locationX>313</locationX>
        <locationY>104</locationY>
        <defaultConnector>
            <targetReference>screen1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isError</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>errorMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>isError</label>
        </rules>
    </decisions>
    <formulas>
        <name>dynamicFSCPAHValue</name>
        <dataType>String</dataType>
        <expression>{!dynamicPicklistFSCPAH.value}</expression>
    </formulas>
    <formulas>
        <name>dynamicFSCRCValue</name>
        <dataType>String</dataType>
        <expression>{!dynamicPicklistFSCRC.value}</expression>
    </formulas>
    <formulas>
        <name>dynamicFSCUTValue</name>
        <dataType>String</dataType>
        <expression>{!dynamicPicklistFSCUT.value}</expression>
    </formulas>
    <formulas>
        <name>dynamicGC</name>
        <dataType>String</dataType>
        <expression>{!scGradeLevelCompleted.value}</expression>
    </formulas>
    <formulas>
        <name>dynamicGLR</name>
        <dataType>String</dataType>
        <expression>{!scGradeLevelRequested.value}</expression>
    </formulas>
    <formulas>
        <name>dynamicPlacmentvlaue</name>
        <dataType>String</dataType>
        <expression>{!dynamicPlacment.value}</expression>
    </formulas>
    <interviewLabel>Document Review: Report Card, Unofficial Transcripts, Prior Academic History {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Document Review: Report Card, Unofficial Transcripts, Prior Academic History</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>updateASI</name>
        <label>updateASI</label>
        <locationX>333</locationX>
        <locationY>315</locationY>
        <inputReference>asiRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updatePAH</name>
        <label>updatePAH</label>
        <locationX>594</locationX>
        <locationY>315</locationY>
        <connector>
            <targetReference>updatePE</targetReference>
        </connector>
        <inputReference>pahRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updatePE</name>
        <label>updatePE</label>
        <locationX>470</locationX>
        <locationY>315</locationY>
        <connector>
            <targetReference>updateASI</targetReference>
        </connector>
        <inputReference>peRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateRC</name>
        <label>updateRC</label>
        <locationX>842</locationX>
        <locationY>315</locationY>
        <connector>
            <targetReference>updateUT</targetReference>
        </connector>
        <inputReference>rcRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateUT</name>
        <label>updateUT</label>
        <locationX>717</locationX>
        <locationY>315</locationY>
        <connector>
            <targetReference>updatePAH</targetReference>
        </connector>
        <inputReference>utRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>screen1</name>
        <label>screen1</label>
        <locationX>558</locationX>
        <locationY>102</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assignRecords</targetReference>
        </connector>
        <fields>
            <name>StudentName</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Student Name: &lt;/b&gt;{!contactRecord.Name}&lt;/p&gt;&lt;p&gt;&lt;b&gt;﻿Date of Birth: &lt;/b&gt;{!contactRecord.Birthdate__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scGradeLevelRequested</name>
            <extensionName>c:dynamicPicklistFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>object</name>
                <value>
                    <stringValue>Annual_Student_Information__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldLabel</name>
                <value>
                    <stringValue>Grade Level Requested</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>field</name>
                <value>
                    <stringValue>Grade_Level_Requested__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>asiRecord.Grade_Level_Requested__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>scGradeLevelCompleted</name>
            <extensionName>c:dynamicPicklistFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>object</name>
                <value>
                    <stringValue>Annual_Student_Information__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldLabel</name>
                <value>
                    <stringValue>Grade Level Completed</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>field</name>
                <value>
                    <stringValue>Grade_Level_Completed__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>asiRecord.Grade_Level_Completed__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>dynamicPicklistFSCRC</name>
            <extensionName>c:dynamicPicklistFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>object</name>
                <value>
                    <stringValue>Enrollment_Document__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldLabel</name>
                <value>
                    <stringValue>Report Card Status</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>field</name>
                <value>
                    <stringValue>Status_Reason__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>controllingField</name>
                <value>
                    <stringValue>Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>controllingFieldValue</name>
                <value>
                    <elementReference>rcRecord.Type__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>rcRecord.Status_Reason__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>RCNotes</name>
            <defaultValue>
                <stringValue>{!rcRecord.Notes__c}</stringValue>
            </defaultValue>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>dynamicPicklistFSCUT</name>
            <extensionName>c:dynamicPicklistFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>object</name>
                <value>
                    <stringValue>Enrollment_Document__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldLabel</name>
                <value>
                    <stringValue>Unofficial Transcript Status</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>field</name>
                <value>
                    <stringValue>Status_Reason__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>controllingField</name>
                <value>
                    <stringValue>Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>controllingFieldValue</name>
                <value>
                    <elementReference>utRecord.Type__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>utRecord.Status_Reason__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>UTNotes</name>
            <defaultValue>
                <stringValue>{!utRecord.Notes__c}</stringValue>
            </defaultValue>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>dynamicPicklistFSCPAH</name>
            <extensionName>c:dynamicPicklistFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>object</name>
                <value>
                    <stringValue>Enrollment_Document__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldLabel</name>
                <value>
                    <stringValue>Home School Prior Academic History Status</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>field</name>
                <value>
                    <stringValue>Status_Reason__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>controllingField</name>
                <value>
                    <stringValue>Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>controllingFieldValue</name>
                <value>
                    <elementReference>pahRecord.Type__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>pahRecord.Status_Reason__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>PAHNotes</name>
            <defaultValue>
                <stringValue>{!pahRecord.Notes__c}</stringValue>
            </defaultValue>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>dynamicPlacment</name>
            <extensionName>c:dynamicPicklistFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>object</name>
                <value>
                    <stringValue>hed__Program_Enrollment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldLabel</name>
                <value>
                    <stringValue>Placement Flag</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>field</name>
                <value>
                    <stringValue>PlacementFlag__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>peRecord.PlacementFlag__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>datatableFSC</name>
            <extensionName>c:NES_DatatableFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>querysObjectAPIName</name>
                <value>
                    <stringValue>Prior_School__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClauseIDFieldAPIName</name>
                <value>
                    <stringValue>Program_Enrollment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClauseIDFieldValue</name>
                <value>
                    <elementReference>peRecord.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_label</name>
                <value>
                    <stringValue>School Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_fieldName</name>
                <value>
                    <stringValue>SchoolType__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_sortable</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_label</name>
                <value>
                    <stringValue>School Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_fieldName</name>
                <value>
                    <stringValue>SchoolName__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_sortable</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_editable</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_label</name>
                <value>
                    <stringValue>State</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_fieldName</name>
                <value>
                    <stringValue>State__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_sortable</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_editable</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column04_label</name>
                <value>
                    <stringValue>Month Started</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column04_fieldName</name>
                <value>
                    <stringValue>MonthStarted__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column04_sortable</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column05_label</name>
                <value>
                    <stringValue>Year Started</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column05_fieldName</name>
                <value>
                    <stringValue>YearStarted__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column05_sortable</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column06_label</name>
                <value>
                    <stringValue>Enrollment Status</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column06_fieldName</name>
                <value>
                    <stringValue>EnrollmentStatus__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column06_sortable</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>32</locationX>
        <locationY>102</locationY>
        <connector>
            <targetReference>validateAndFetchRecords</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>validateAndFetchRecords</name>
        <label>validateAndFetchRecords</label>
        <locationX>162</locationX>
        <locationY>102</locationY>
        <connector>
            <targetReference>decisionError</targetReference>
        </connector>
        <flowName>flowDocumentReviewFetchRecords</flowName>
        <inputAssignments>
            <name>documentType</name>
            <value>
                <elementReference>documentType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>programEnrollmentID</name>
            <value>
                <elementReference>ProgramEnrollmentID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>asiRecord</assignToReference>
            <name>asiRecord</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>contactRecord</assignToReference>
            <name>contactRecord</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>errorMessage</assignToReference>
            <name>errorMessage</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>pahRecord</assignToReference>
            <name>pahRecord</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>peRecord</assignToReference>
            <name>peRecord</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>rcRecord</assignToReference>
            <name>rcRecord</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>utRecord</assignToReference>
            <name>utRecord</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>asiRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Annual_Student_Information__c</objectType>
    </variables>
    <variables>
        <name>contactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>documentType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>pahRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Enrollment_Document__c</objectType>
    </variables>
    <variables>
        <name>peRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Program_Enrollment__c</objectType>
    </variables>
    <variables>
        <name>ProgramEnrollmentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>rcRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Enrollment_Document__c</objectType>
    </variables>
    <variables>
        <name>utRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Enrollment_Document__c</objectType>
    </variables>
</Flow>
