force-app/main/default/flows/flowDocumentReviewPOR.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>assignCareTaker</name>
        <label>assignCareTaker</label>
        <locationX>188</locationX>
        <locationY>400</locationY>
        <assignmentItems>
            <assignToReference>caretakerDetail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>caretakerContact.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caretakerDetail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FL_name_Space</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caretakerDetail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>caretakerContact.LastName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopContacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignComma</name>
        <label>assignComma</label>
        <locationX>440</locationX>
        <locationY>408</locationY>
        <assignmentItems>
            <assignToReference>caretakerDetail</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>; </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignCareTaker</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignRecords</name>
        <label>assignRecords</label>
        <locationX>548</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>accountRecord.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountRecord.ShippingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountRecord.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountRecord.ShippingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>state</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountRecord.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>peRecord.DatePORExtensionWillExpire__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ui_PE_DatePORExtensionWillExpire</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>edRecord.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EDNotes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>edRecord.Status_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dynamicFSCValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountRecord.County_of_Residence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accCountyOfResidenceFSC.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountRecord.District_of_Residence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accDistrictofResidenceFSC.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateAccount</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>flowNo</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>flowYes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <constants>
        <name>ContactCareTakerRecordTypeID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0126A000000l4AbQAI</stringValue>
        </value>
    </constants>
    <decisions>
        <name>decisionAddComma</name>
        <label>decisionAddComma</label>
        <locationX>445</locationX>
        <locationY>249</locationY>
        <defaultConnector>
            <targetReference>assignComma</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isNullCheck</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caretakerDetail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignCareTaker</targetReference>
            </connector>
            <label>isNullCheck</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>edStatusReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status_Reason__c</picklistField>
        <picklistObject>Enrollment_Document__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>city</name>
        <dataType>String</dataType>
        <expression>{!ShippingAddress.city}</expression>
    </formulas>
    <formulas>
        <name>country</name>
        <dataType>String</dataType>
        <expression>{!ShippingAddress.country}</expression>
    </formulas>
    <formulas>
        <name>dynamicFSCValue</name>
        <dataType>String</dataType>
        <expression>{!picklist_EDStatusReason.value}</expression>
    </formulas>
    <formulas>
        <name>FL_name_Space</name>
        <dataType>String</dataType>
        <expression>&apos; &apos;</expression>
    </formulas>
    <formulas>
        <name>postalCode</name>
        <dataType>String</dataType>
        <expression>{!ShippingAddress.postalCode}</expression>
    </formulas>
    <formulas>
        <name>state</name>
        <dataType>String</dataType>
        <expression>{!ShippingAddress.province}</expression>
    </formulas>
    <formulas>
        <name>street</name>
        <dataType>String</dataType>
        <expression>{!ShippingAddress.street}</expression>
    </formulas>
    <interviewLabel>flowDocumentReviewPOR {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Document Review: Proof of Residence</label>
    <loops>
        <description>Loop over careTaker Contacts</description>
        <name>loopContacts</name>
        <label>loopContacts</label>
        <locationX>186</locationX>
        <locationY>228</locationY>
        <assignNextValueToReference>caretakerContact</assignNextValueToReference>
        <collectionReference>vAccountRelatedCareTakerContacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>decisionAddComma</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>screen1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>updateAccount</name>
        <label>updateAccount</label>
        <locationX>548</locationX>
        <locationY>213</locationY>
        <connector>
            <targetReference>updatePE</targetReference>
        </connector>
        <inputReference>accountRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateED</name>
        <label>updateED</label>
        <locationX>701</locationX>
        <locationY>52</locationY>
        <inputReference>edRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updatePE</name>
        <label>updatePE</label>
        <locationX>701</locationX>
        <locationY>213</locationY>
        <connector>
            <targetReference>updateED</targetReference>
        </connector>
        <inputReference>peRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>screen1</name>
        <label>screen1</label>
        <locationX>398</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assignRecords</targetReference>
        </connector>
        <fields>
            <name>DisplayText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Caretaker(s): &lt;/b&gt;{!caretakerDetail}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;Type of Living Accommodations&lt;/b&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 12px; font-family: verdana;&quot;&gt;: &lt;/b&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!accountRecord.Type_of_Living_Accommodations__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ShippingAddress</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>accountRecord.ShippingCity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>accountRecord.ShippingCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Home Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>accountRecord.ShippingPostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>accountRecord.ShippingState</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>accountRecord.ShippingStreet</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>accCountyOfResidenceFSC</name>
            <extensionName>c:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Residency__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>County Of Residence</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>accountRecord.County_of_Residence__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>accDistrictofResidenceFSC</name>
            <extensionName>c:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Residency__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>District of Residence</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>accountRecord.District_of_Residence__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>picklist_EDStatusReason</name>
            <extensionName>c:dynamicPicklistFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>object</name>
                <value>
                    <stringValue>Enrollment_Document__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldLabel</name>
                <value>
                    <stringValue>Proof of Residency Status</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>field</name>
                <value>
                    <stringValue>Status_Reason__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>controllingField</name>
                <value>
                    <stringValue>Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>controllingFieldValue</name>
                <value>
                    <elementReference>edRecord.Type__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>edRecord.Status_Reason__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ui_PE_DatePORExtensionWillExpire</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>peRecord.DatePORExtensionWillExpire__c</elementReference>
            </defaultValue>
            <fieldText>Date POR Extension will Expire</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>EDNotes</name>
            <defaultValue>
                <stringValue>{!edRecord.Notes__c}</stringValue>
            </defaultValue>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>validateAndFetchRecords</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>validateAndFetchRecords</name>
        <label>validateAndFetchRecords</label>
        <locationX>185</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>loopContacts</targetReference>
        </connector>
        <flowName>flowDocumentReviewFetchRecords</flowName>
        <inputAssignments>
            <name>documentType</name>
            <value>
                <elementReference>documentType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>enrollmentDocumentID</name>
            <value>
                <elementReference>enrollmentDocumentID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>accountRecord</assignToReference>
            <name>accountRecord</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>edRecord</assignToReference>
            <name>edRecord</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>errorMessage</assignToReference>
            <name>errorMessage</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>peRecord</assignToReference>
            <name>peRecord</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vAccountRelatedCareTakerContacts</assignToReference>
            <name>vAccountRelatedCareTakerContacts</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>accountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>SingleRecord</description>
        <name>caretakerContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>caretakerDetail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>documentType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>edRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Enrollment_Document__c</objectType>
    </variables>
    <variables>
        <name>enrollmentDocumentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>peRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Program_Enrollment__c</objectType>
    </variables>
    <variables>
        <name>vaccCountyOfResidence</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vAccountRelatedCareTakerContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
