force-app/main/default/flows/flowDocumentReviewIEPPlus.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>assignRecords</name>
        <label>assignRecords</label>
        <locationX>926</locationX>
        <locationY>23</locationY>
        <assignmentItems>
            <assignToReference>peRecord.PlacementFlag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dynamicFSCPlacement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>iepRecord.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IEPExitNotes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>exitRecord.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IEPNotes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>evRecord.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EVNotes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>iepRecord.Status_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dynamicPicklistFSCIEPDoc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>exitRecord.Status_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dynamicPicklistFSCExitDoc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>evRecord.Status_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dynamicPicklistFSCEVDoc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>asiRecord.Grade_Level_Requested__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dynamicFSCRequested</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>asiRecord.Grade_Level_Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dynamicFSCCompleted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sedRecord.IEPHistory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dynamicFSCIEPHistory</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sedRecord.IEPLastUpdated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dynamicFSCIEPLastUpdated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sedRecord.FormallyExitedIEP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dynamicFSCIEPFormally</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateIEP</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decisionError</name>
        <label>decisionError</label>
        <locationX>336</locationX>
        <locationY>25</locationY>
        <defaultConnector>
            <targetReference>screen1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isError</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>errorMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>isError</label>
        </rules>
    </decisions>
    <formulas>
        <name>dynamicFSCCompleted</name>
        <dataType>String</dataType>
        <expression>{!scGradeLevelCompleted.value}</expression>
    </formulas>
    <formulas>
        <name>dynamicFSCIEPFormally</name>
        <dataType>String</dataType>
        <expression>{!seFormallyExited.value}</expression>
    </formulas>
    <formulas>
        <name>dynamicFSCIEPHistory</name>
        <dataType>String</dataType>
        <expression>{!seIEPHistory.value}</expression>
    </formulas>
    <formulas>
        <name>dynamicFSCIEPLastUpdated</name>
        <dataType>String</dataType>
        <expression>{!seIEPLastUpdated.value}</expression>
    </formulas>
    <formulas>
        <name>dynamicFSCPlacement</name>
        <dataType>String</dataType>
        <expression>{!sePlacementFlag.value}</expression>
    </formulas>
    <formulas>
        <name>dynamicFSCRequested</name>
        <dataType>String</dataType>
        <expression>{!scGradeLevelRequested.value}</expression>
    </formulas>
    <formulas>
        <name>dynamicPicklistFSCEVDoc</name>
        <dataType>String</dataType>
        <expression>{!dynamicPicklistFSCEV.value}</expression>
    </formulas>
    <formulas>
        <name>dynamicPicklistFSCExitDoc</name>
        <dataType>String</dataType>
        <expression>{!dynamicPicklistFSCExit.value}</expression>
    </formulas>
    <formulas>
        <name>dynamicPicklistFSCIEPDoc</name>
        <dataType>String</dataType>
        <expression>{!dynamicPicklistFSCIEP.value}</expression>
    </formulas>
    <interviewLabel>Document Review: IEP, IEP Exit Documentation, Evaluation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Document Review: IEP, IEP Exit Documentation, Evaluation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>updateASI</name>
        <label>updateASI</label>
        <locationX>341</locationX>
        <locationY>270</locationY>
        <inputReference>asiRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateEV</name>
        <label>updateEV</label>
        <locationX>690</locationX>
        <locationY>270</locationY>
        <connector>
            <targetReference>updatePE</targetReference>
        </connector>
        <inputReference>evRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateExit</name>
        <label>updateExit</label>
        <locationX>810</locationX>
        <locationY>270</locationY>
        <connector>
            <targetReference>updateEV</targetReference>
        </connector>
        <inputReference>exitRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateIEP</name>
        <label>updateIEP</label>
        <locationX>926</locationX>
        <locationY>270</locationY>
        <connector>
            <targetReference>updateExit</targetReference>
        </connector>
        <inputReference>iepRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updatePE</name>
        <label>updatePE</label>
        <locationX>574</locationX>
        <locationY>270</locationY>
        <connector>
            <targetReference>UpdateSEd</targetReference>
        </connector>
        <inputReference>peRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateSEd</name>
        <label>UpdateSEd</label>
        <locationX>459</locationX>
        <locationY>270</locationY>
        <connector>
            <targetReference>updateASI</targetReference>
        </connector>
        <inputReference>sedRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>screen1</name>
        <label>screen1</label>
        <locationX>645</locationX>
        <locationY>23</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assignRecords</targetReference>
        </connector>
        <fields>
            <name>StudentName</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Student Name: &lt;/b&gt;{!contactRecord.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scGradeLevelRequested</name>
            <extensionName>c:dynamicPicklistFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>object</name>
                <value>
                    <stringValue>Annual_Student_Information__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldLabel</name>
                <value>
                    <stringValue>Grade Level Requested</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>field</name>
                <value>
                    <stringValue>Grade_Level_Requested__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>asiRecord.Grade_Level_Requested__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>scGradeLevelCompleted</name>
            <extensionName>c:dynamicPicklistFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>object</name>
                <value>
                    <stringValue>Annual_Student_Information__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldLabel</name>
                <value>
                    <stringValue>Grade Level Completed</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>field</name>
                <value>
                    <stringValue>Grade_Level_Completed__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>asiRecord.Grade_Level_Completed__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>seIEPHistory</name>
            <extensionName>c:dynamicPicklistFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>object</name>
                <value>
                    <stringValue>Special_Education__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>field</name>
                <value>
                    <stringValue>IEPHistory__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldLabel</name>
                <value>
                    <stringValue>IEP History</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>sedRecord.IEPHistory__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>seIEPLastUpdated</name>
            <extensionName>c:dynamicPicklistFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>object</name>
                <value>
                    <stringValue>Special_Education__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldLabel</name>
                <value>
                    <stringValue>IEP Last Updated</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>field</name>
                <value>
                    <stringValue>IEPLastUpdated__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>sedRecord.IEPLastUpdated__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>seFormallyExited</name>
            <extensionName>c:dynamicPicklistFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>object</name>
                <value>
                    <stringValue>Special_Education__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldLabel</name>
                <value>
                    <stringValue>Formally Exited IEP</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>field</name>
                <value>
                    <stringValue>FormallyExitedIEP__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>sedRecord.FormallyExitedIEP__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>dynamicPicklistFSCIEP</name>
            <extensionName>c:dynamicPicklistFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>object</name>
                <value>
                    <stringValue>Enrollment_Document__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldLabel</name>
                <value>
                    <stringValue>Individualized Education Program Status</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>field</name>
                <value>
                    <stringValue>Status_Reason__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>controllingField</name>
                <value>
                    <stringValue>Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>controllingFieldValue</name>
                <value>
                    <elementReference>iepRecord.Type__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>iepRecord.Status_Reason__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>IEPExitNotes</name>
            <defaultValue>
                <stringValue>{!iepRecord.Notes__c}</stringValue>
            </defaultValue>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>dynamicPicklistFSCExit</name>
            <extensionName>c:dynamicPicklistFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>object</name>
                <value>
                    <stringValue>Enrollment_Document__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldLabel</name>
                <value>
                    <stringValue>IEP Exit Documentation Status</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>field</name>
                <value>
                    <stringValue>Status_Reason__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>controllingField</name>
                <value>
                    <stringValue>Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>controllingFieldValue</name>
                <value>
                    <elementReference>exitRecord.Type__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>exitRecord.Status_Reason__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>IEPNotes</name>
            <defaultValue>
                <stringValue>{!exitRecord.Notes__c}</stringValue>
            </defaultValue>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>dynamicPicklistFSCEV</name>
            <extensionName>c:dynamicPicklistFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>object</name>
                <value>
                    <stringValue>Enrollment_Document__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldLabel</name>
                <value>
                    <stringValue>Evaluation Status</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>field</name>
                <value>
                    <stringValue>Status_Reason__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>controllingField</name>
                <value>
                    <stringValue>Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>controllingFieldValue</name>
                <value>
                    <elementReference>evRecord.Type__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>evRecord.Status_Reason__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>EVNotes</name>
            <defaultValue>
                <stringValue>{!evRecord.Notes__c}</stringValue>
            </defaultValue>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>sePlacementFlag</name>
            <extensionName>c:dynamicPicklistFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>object</name>
                <value>
                    <stringValue>hed__Program_Enrollment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldLabel</name>
                <value>
                    <stringValue>Placement Flag</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>field</name>
                <value>
                    <stringValue>PlacementFlag__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>peRecord.PlacementFlag__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>23</locationY>
        <connector>
            <targetReference>fetchAndValidateRecords</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>fetchAndValidateRecords</name>
        <label>fetchAndValidateRecords</label>
        <locationX>202</locationX>
        <locationY>23</locationY>
        <connector>
            <targetReference>decisionError</targetReference>
        </connector>
        <flowName>flowDocumentReviewFetchRecords</flowName>
        <inputAssignments>
            <name>documentType</name>
            <value>
                <elementReference>documentType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>programEnrollmentID</name>
            <value>
                <elementReference>programEnrollmentID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>accountRecords</assignToReference>
            <name>accountRecord</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>asiRecord</assignToReference>
            <name>asiRecord</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>contactRecord</assignToReference>
            <name>contactRecord</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>edRecord</assignToReference>
            <name>edRecord</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>errorMessage</assignToReference>
            <name>errorMessage</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>evRecord</assignToReference>
            <name>evRecord</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>exitRecord</assignToReference>
            <name>exitRecord</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>iepRecord</assignToReference>
            <name>iepRecord</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>peRecord</assignToReference>
            <name>peRecord</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sedRecord</assignToReference>
            <name>sedRecord</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>getIEPEDs</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!iepRecord}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>getIEPEDSS</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!iepRecord.Notes__c}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Note</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!iepRecord}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>notesAPi</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!&lt;/span&gt;iepRecord&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;.Notes__c}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>accountRecords</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>asiRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Annual_Student_Information__c</objectType>
    </variables>
    <variables>
        <name>contactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>documentType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>edRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Enrollment_Document__c</objectType>
    </variables>
    <variables>
        <name>EDVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Enrollment_Document__c</objectType>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>evRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Enrollment_Document__c</objectType>
    </variables>
    <variables>
        <name>exitRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Enrollment_Document__c</objectType>
    </variables>
    <variables>
        <name>iepRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Enrollment_Document__c</objectType>
    </variables>
    <variables>
        <name>pahRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Enrollment_Document__c</objectType>
    </variables>
    <variables>
        <name>peRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Program_Enrollment__c</objectType>
    </variables>
    <variables>
        <name>programEnrollmentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rcVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Enrollment_Document__c</objectType>
    </variables>
    <variables>
        <name>sedRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Special_Education__c</objectType>
    </variables>
    <variables>
        <name>seRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Special_Education__c</objectType>
    </variables>
    <variables>
        <name>spRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Special_Education__c</objectType>
    </variables>
    <variables>
        <name>ucRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Enrollment_Document__c</objectType>
    </variables>
    <variables>
        <name>varRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
