force-app/main/default/flows/flowDocumentReviewIR.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>assignUpdates</name>
        <label>assignUpdates</label>
        <locationX>843</locationX>
        <locationY>164</locationY>
        <assignmentItems>
            <assignToReference>contactRecord.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>firstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactRecord.MiddleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>middleName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactRecord.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactRecord.Suffix</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>suffix</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactRecord.Birthdate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_of_Birth</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>immunizationRecord.Immunization_Date_Of_Exemption__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_of_exemption</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>immunizationRecord.Immunization_Exemption_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Year_of_Exemption</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>immunizationRecord.Next_Shot_Due__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Next_Shot_Due</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>edRecord.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>edRecord.Status_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dynamicFSCValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>immunizationRecord.Immunization_Extension_Expire__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Immunization_Ext_Expiry_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateContact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decisionError</name>
        <label>decisionError</label>
        <locationX>452</locationX>
        <locationY>112</locationY>
        <defaultConnector>
            <targetReference>Review</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isError</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>errorMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>isError</label>
        </rules>
    </decisions>
    <formulas>
        <name>dynamicFSCValue</name>
        <dataType>String</dataType>
        <expression>{!dynamicPicklistFSC.value}</expression>
    </formulas>
    <formulas>
        <name>firstName</name>
        <dataType>String</dataType>
        <expression>{!Student_Name.firstName}</expression>
    </formulas>
    <formulas>
        <name>lastName</name>
        <dataType>String</dataType>
        <expression>{!Student_Name.lastName}</expression>
    </formulas>
    <formulas>
        <name>middleName</name>
        <dataType>String</dataType>
        <expression>{!Student_Name.middleName}</expression>
    </formulas>
    <formulas>
        <name>suffix</name>
        <dataType>String</dataType>
        <expression>{!Student_Name.suffix}</expression>
    </formulas>
    <interviewLabel>Document Review: Immunization Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Document Review: Immunization Records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>updateContact</name>
        <label>updateContact</label>
        <locationX>842</locationX>
        <locationY>361</locationY>
        <connector>
            <targetReference>updateImmunization</targetReference>
        </connector>
        <inputReference>contactRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateED</name>
        <label>updateED</label>
        <locationX>589</locationX>
        <locationY>361</locationY>
        <inputReference>edRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateImmunization</name>
        <label>updateImmunization</label>
        <locationX>711</locationX>
        <locationY>361</locationY>
        <connector>
            <targetReference>updateED</targetReference>
        </connector>
        <inputReference>immunizationRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>Review</name>
        <label>Document Review: Immunization</label>
        <locationX>694</locationX>
        <locationY>164</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assignUpdates</targetReference>
        </connector>
        <fields>
            <name>GradeLevelRequested</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Grade Level Requested:&lt;/b&gt; {!asiRecord.Grade_Level_Requested__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Final Grade Level:&lt;/b&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt; {!asiRecord.Final_Grade_Level__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Student_Name</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>firstName</name>
                <value>
                    <elementReference>contactRecord.FirstName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Student Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lastName</name>
                <value>
                    <elementReference>contactRecord.LastName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleName</name>
                <value>
                    <elementReference>contactRecord.MiddleName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suffix</name>
                <value>
                    <elementReference>contactRecord.Suffix</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldsToDisplayList</name>
                <value>
                    <stringValue>firstName,middleName,lastName,suffix</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Date_of_Birth</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>contactRecord.Birthdate__c</elementReference>
            </defaultValue>
            <fieldText>Date of Birth</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Year_of_Exemption</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>immunizationRecord.Immunization_Exemption_Year__c</elementReference>
            </defaultValue>
            <fieldText>Year of Exemption</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Date_of_exemption</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>immunizationRecord.Immunization_Date_Of_Exemption__c</elementReference>
            </defaultValue>
            <fieldText>Date of exemption</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Next_Shot_Due</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>immunizationRecord.Next_Shot_Due__c</elementReference>
            </defaultValue>
            <fieldText>Next Shot Due</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>dynamicPicklistFSC</name>
            <extensionName>c:dynamicPicklistFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>object</name>
                <value>
                    <stringValue>Enrollment_Document__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldLabel</name>
                <value>
                    <stringValue>Immunization (IR) Status</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>field</name>
                <value>
                    <stringValue>Status_Reason__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>controllingField</name>
                <value>
                    <stringValue>Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>controllingFieldValue</name>
                <value>
                    <elementReference>edRecord.Type__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>edRecord.Status_Reason__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Immunization_Ext_Expiry_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>immunizationRecord.Immunization_Extension_Expire__c</elementReference>
            </defaultValue>
            <fieldText>Date Immunization Extension will expire</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Notes</name>
            <defaultValue>
                <stringValue>{!edRecord.Notes__c}</stringValue>
            </defaultValue>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>191</locationX>
        <locationY>169</locationY>
        <connector>
            <targetReference>validateAndFetchRecords</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>validateAndFetchRecords</name>
        <label>validateAndFetchRecords</label>
        <locationX>327</locationX>
        <locationY>169</locationY>
        <connector>
            <targetReference>decisionError</targetReference>
        </connector>
        <flowName>flowDocumentReviewFetchRecords</flowName>
        <inputAssignments>
            <name>documentType</name>
            <value>
                <elementReference>documentType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>enrollmentDocumentID</name>
            <value>
                <elementReference>enrollmentDocumentID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>asiRecord</assignToReference>
            <name>asiRecord</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>contactRecord</assignToReference>
            <name>contactRecord</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>edRecord</assignToReference>
            <name>edRecord</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>errorMessage</assignToReference>
            <name>errorMessage</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>immunizationRecord</assignToReference>
            <name>immunizationRecord</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>peRecord</assignToReference>
            <name>peRecord</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>asiRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Annual_Student_Information__c</objectType>
    </variables>
    <variables>
        <name>contactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>documentType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>edRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Enrollment_Document__c</objectType>
    </variables>
    <variables>
        <name>enrollmentDocumentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>immunizationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Health_and_Immunization__c</objectType>
    </variables>
    <variables>
        <name>peRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Program_Enrollment__c</objectType>
    </variables>
</Flow>
