force-app/main/default/flows/flowDocumentReviewGD.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>assignRecords</name>
        <label>assignRecords</label>
        <locationX>777</locationX>
        <locationY>44</locationY>
        <assignmentItems>
            <assignToReference>edRecord.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>peRecord.SIF_Gifted_Initial_Interest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dynamicSIFValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sedRecord.Previously_Identified_GT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dynamicPIGTValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>asiRecord.Grade_Level_Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dynamicGLCValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>asiRecord.Grade_Level_Requested__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dynamicGLRValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>peRecord.PlacementFlag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dynamicPlacmentValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sedRecord.Gifted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dynamicGiftedSED</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>edRecord.Status_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dynamicFSCValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>asiRecord.GiftedProgramRequest_LA_M_S__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>multiselectFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateED</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>desicionError</name>
        <label>desicionError</label>
        <locationX>325</locationX>
        <locationY>46</locationY>
        <defaultConnector>
            <targetReference>screen1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isError</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>errorMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>isError</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>defaultGLR</name>
        <dataType>String</dataType>
        <displayField>Grade_Level_Requested__c</displayField>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>asiRecord.Id</elementReference>
            </value>
        </filters>
        <object>Annual_Student_Information__c</object>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>defaultPI</name>
        <dataType>String</dataType>
        <displayField>Previously_Identified_GT__c</displayField>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sedRecord.Id</elementReference>
            </value>
        </filters>
        <object>Special_Education__c</object>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>defaultPlacementFlag</name>
        <dataType>String</dataType>
        <displayField>PlacementFlag__c</displayField>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>peRecord.Id</elementReference>
            </value>
        </filters>
        <object>hed__Program_Enrollment__c</object>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>defaultProgramRequest</name>
        <dataType>String</dataType>
        <displayField>GiftedProgramRequest_LA_M_S__c</displayField>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>asiRecord.Id</elementReference>
            </value>
        </filters>
        <object>Annual_Student_Information__c</object>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>defaultSIF</name>
        <dataType>String</dataType>
        <displayField>SIF_Gifted_Initial_Interest__c</displayField>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>peRecord.Id</elementReference>
            </value>
        </filters>
        <object>hed__Program_Enrollment__c</object>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GiftedProgramRequestval</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>GiftedProgramRequest_LA_M_S__c</picklistField>
        <picklistObject>Annual_Student_Information__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GiftedSED</name>
        <dataType>String</dataType>
        <displayField>Gifted__c</displayField>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sedRecord.Id</elementReference>
            </value>
        </filters>
        <object>Special_Education__c</object>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RecordTypeChoices</name>
        <dataType>String</dataType>
        <displayField>Grade_Level_Completed__c</displayField>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>asiRecord.Id</elementReference>
            </value>
        </filters>
        <object>Annual_Student_Information__c</object>
    </dynamicChoiceSets>
    <formulas>
        <description>typeCasting the picklistValue</description>
        <name>dynamicFSCValue</name>
        <dataType>String</dataType>
        <expression>{!dynamicPicklistFSC.value}</expression>
    </formulas>
    <formulas>
        <name>dynamicGiftedSED</name>
        <dataType>String</dataType>
        <expression>{!dynamicGiftedESD.value}</expression>
    </formulas>
    <formulas>
        <name>dynamicGLCValue</name>
        <dataType>String</dataType>
        <expression>{!scGradeLevelCompleted.value}</expression>
    </formulas>
    <formulas>
        <name>dynamicGLRValues</name>
        <dataType>String</dataType>
        <expression>{!scGradeLevelRequested.value}</expression>
    </formulas>
    <formulas>
        <name>dynamicPIGTValue</name>
        <dataType>String</dataType>
        <expression>{!dynamicPIGT.value}</expression>
    </formulas>
    <formulas>
        <name>dynamicPlacmentValue</name>
        <dataType>String</dataType>
        <expression>{!DynamicPlacment.value}</expression>
    </formulas>
    <formulas>
        <name>dynamicSIFValue</name>
        <dataType>String</dataType>
        <expression>{!dynamicSIF.value}</expression>
    </formulas>
    <formulas>
        <name>multiselectFormula</name>
        <dataType>String</dataType>
        <expression>{!dynamicmultipiclistFSC.SelectedItemsCSV}</expression>
    </formulas>
    <interviewLabel>Document Review: Gifted Documentation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Document Review: Gifted Documentation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>updateASI</name>
        <label>updateASI</label>
        <locationX>439</locationX>
        <locationY>245</locationY>
        <inputReference>asiRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateED</name>
        <label>updateED</label>
        <locationX>777</locationX>
        <locationY>245</locationY>
        <connector>
            <targetReference>updatePE</targetReference>
        </connector>
        <inputReference>edRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updatePE</name>
        <label>updatePE</label>
        <locationX>666</locationX>
        <locationY>245</locationY>
        <connector>
            <targetReference>updateSED</targetReference>
        </connector>
        <inputReference>peRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateSED</name>
        <label>updateSED</label>
        <locationX>552</locationX>
        <locationY>245</locationY>
        <connector>
            <targetReference>updateASI</targetReference>
        </connector>
        <inputReference>sedRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>screen1</name>
        <label>screen1</label>
        <locationX>575</locationX>
        <locationY>44</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assignRecords</targetReference>
        </connector>
        <fields>
            <name>StudentName</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Student Name: &lt;/b&gt;{!contactRecord.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scGradeLevelRequested</name>
            <extensionName>c:dynamicPicklistFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>object</name>
                <value>
                    <stringValue>Annual_Student_Information__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldLabel</name>
                <value>
                    <stringValue>Grade Level Requested</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>field</name>
                <value>
                    <stringValue>Grade_Level_Requested__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>asiRecord.Grade_Level_Requested__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>scGradeLevelCompleted</name>
            <extensionName>c:dynamicPicklistFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>field</name>
                <value>
                    <stringValue>Grade_Level_Completed__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldLabel</name>
                <value>
                    <stringValue>Grade Level Completed</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>object</name>
                <value>
                    <stringValue>Annual_Student_Information__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>asiRecord.Grade_Level_Completed__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>dynamicSIF</name>
            <extensionName>c:dynamicPicklistFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldLabel</name>
                <value>
                    <stringValue>SIF Gifted Initial Interest</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>field</name>
                <value>
                    <stringValue>SIF_Gifted_Initial_Interest__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>object</name>
                <value>
                    <stringValue>hed__Program_Enrollment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>peRecord.SIF_Gifted_Initial_Interest__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>dynamicPIGT</name>
            <extensionName>c:dynamicPicklistFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldLabel</name>
                <value>
                    <stringValue>Previously Identified GT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>field</name>
                <value>
                    <stringValue>Previously_Identified_GT__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>object</name>
                <value>
                    <stringValue>Special_Education__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>sedRecord.Previously_Identified_GT__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>dynamicmultipiclistFSC</name>
            <extensionName>c:NES_MultipicklistFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>object</name>
                <value>
                    <stringValue>Annual_Student_Information__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>field</name>
                <value>
                    <stringValue>GiftedProgramRequest_LA_M_S__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value1</name>
                <value>
                    <elementReference>asiRecord.GiftedProgramRequest_LA_M_S__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Gifted Program Request</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>dynamicPicklistFSC</name>
            <extensionName>c:dynamicPicklistFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>object</name>
                <value>
                    <stringValue>Enrollment_Document__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldLabel</name>
                <value>
                    <stringValue>Gifted Documentation Status</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>field</name>
                <value>
                    <stringValue>Status_Reason__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>controllingField</name>
                <value>
                    <stringValue>Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>controllingFieldValue</name>
                <value>
                    <elementReference>edRecord.Type__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>edRecord.Status_Reason__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>dynamicGiftedESD</name>
            <extensionName>c:dynamicPicklistFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>object</name>
                <value>
                    <stringValue>Special_Education__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldLabel</name>
                <value>
                    <stringValue>Gifted</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>field</name>
                <value>
                    <stringValue>Gifted__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>sedRecord.Gifted__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Notes</name>
            <defaultValue>
                <stringValue>{!edRecord.Notes__c}</stringValue>
            </defaultValue>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DynamicPlacment</name>
            <extensionName>c:dynamicPicklistFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>object</name>
                <value>
                    <stringValue>hed__Program_Enrollment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldLabel</name>
                <value>
                    <stringValue>Placement Flag</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>field</name>
                <value>
                    <stringValue>PlacementFlag__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>peRecord.PlacementFlag__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>40</locationX>
        <locationY>44</locationY>
        <connector>
            <targetReference>fetchAndValidateRecords</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>fetchAndValidateRecords</name>
        <label>fetchAndValidateRecords</label>
        <locationX>176</locationX>
        <locationY>44</locationY>
        <connector>
            <targetReference>desicionError</targetReference>
        </connector>
        <flowName>flowDocumentReviewFetchRecords</flowName>
        <inputAssignments>
            <name>documentType</name>
            <value>
                <elementReference>documentType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>enrollmentDocumentID</name>
            <value>
                <elementReference>enrollmentDocumentID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>asiRecord</assignToReference>
            <name>asiRecord</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>contactRecord</assignToReference>
            <name>contactRecord</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>edRecord</assignToReference>
            <name>edRecord</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>errorMessage</assignToReference>
            <name>errorMessage</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>peRecord</assignToReference>
            <name>peRecord</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sedRecord</assignToReference>
            <name>sedRecord</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>asiRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Annual_Student_Information__c</objectType>
    </variables>
    <variables>
        <name>contactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>documentType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>edRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Enrollment_Document__c</objectType>
    </variables>
    <variables>
        <name>enrollmentDocumentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>peRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Program_Enrollment__c</objectType>
    </variables>
    <variables>
        <name>resourceApi</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>resourceConPick</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>resourceControl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>resourceDepPick</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>resourceLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>resourecDep</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sedRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Special_Education__c</objectType>
    </variables>
</Flow>
