force-app/main/default/flows/flowDocumentReview.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <description>move from master to Sub Flows based on Document Type (API: Enrollment_Document..Type__c)</description>
        <name>decisionDocumentType</name>
        <label>decisionDocumentType</label>
        <locationX>534</locationX>
        <locationY>532</locationY>
        <defaultConnector>
            <targetReference>flowDefault</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Proof_of_Residence</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>enrollmentDocument.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proof of Residence</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>flowPOR</targetReference>
            </connector>
            <label>Proof of Residence</label>
        </rules>
        <rules>
            <name>Proof_of_Age</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>enrollmentDocument.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proof of Age</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>flowPOA</targetReference>
            </connector>
            <label>Proof of Age</label>
        </rules>
        <rules>
            <name>Immunization_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>enrollmentDocument.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Immunization Records</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>flowIR</targetReference>
            </connector>
            <label>Immunization Records</label>
        </rules>
        <rules>
            <name>Custody_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>enrollmentDocument.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Custody Order</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>flowCO</targetReference>
            </connector>
            <label>Custody Order</label>
        </rules>
        <rules>
            <name>Home_Language_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>enrollmentDocument.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Home Language Survey</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>flowHLS</targetReference>
            </connector>
            <label>Home Language Survey</label>
        </rules>
        <rules>
            <name>Master_Agreement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>enrollmentDocument.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Master Agreement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>flowMA</targetReference>
            </connector>
            <label>Master Agreement</label>
        </rules>
        <rules>
            <name>Health_Form</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>enrollmentDocument.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Report of Health Examination</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>flowHF</targetReference>
            </connector>
            <label>Health Form</label>
        </rules>
        <rules>
            <name>Physical_Examination</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>enrollmentDocument.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Physical Examination</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>flowPE</targetReference>
            </connector>
            <label>Physical Examination</label>
        </rules>
        <rules>
            <name>Report_Card</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>enrollmentDocument.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Report Card</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>flowRC</targetReference>
            </connector>
            <label>Report Card</label>
        </rules>
        <rules>
            <name>Unofficial_Transcript</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>enrollmentDocument.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unofficial Transcript</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>flowUT</targetReference>
            </connector>
            <label>Unofficial Transcript</label>
        </rules>
        <rules>
            <name>Home_School_Prior_Academic_History</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>enrollmentDocument.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Home School Prior Academic History</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>flowPAH</targetReference>
            </connector>
            <label>Home School Prior Academic History</label>
        </rules>
        <rules>
            <name>State_Test_Scores</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>enrollmentDocument.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>State Test Scores</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>flowSTS</targetReference>
            </connector>
            <label>State Test Scores</label>
        </rules>
        <rules>
            <name>Gifted_Documentation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>enrollmentDocument.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gifted Documentation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>flowGD</targetReference>
            </connector>
            <label>Gifted Documentation</label>
        </rules>
        <rules>
            <name>Individualized_Education_Program</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>enrollmentDocument.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Individualized Education Program</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>flowIEP</targetReference>
            </connector>
            <label>Individualized Education Program</label>
        </rules>
        <rules>
            <name>IEP_Exit_Documentation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>enrollmentDocument.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IEP Exit Documentation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>flowIEPExit</targetReference>
            </connector>
            <label>IEP Exit Documentation</label>
        </rules>
        <rules>
            <name>Evaluation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>enrollmentDocument.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Evaluation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>flowEvaluation</targetReference>
            </connector>
            <label>Evaluation</label>
        </rules>
    </decisions>
    <interviewLabel>flowDocumentReview {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Document Review: Main Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getED</name>
        <label>getED</label>
        <locationX>388</locationX>
        <locationY>531</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decisionDocumentType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Enrollment_Document__c</object>
        <outputReference>enrollmentDocument</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>Program_Enrollment__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <start>
        <locationX>48</locationX>
        <locationY>530</locationY>
        <connector>
            <targetReference>getED</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>flowCO</name>
        <label>flowCO</label>
        <locationX>1260</locationX>
        <locationY>434</locationY>
        <flowName>flowDocumentReviewCO</flowName>
        <inputAssignments>
            <name>documentType</name>
            <value>
                <elementReference>enrollmentDocument.Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>enrollmentDocumentID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>flowDefault</name>
        <label>flowDefault</label>
        <locationX>1116</locationX>
        <locationY>945</locationY>
        <flowName>flowDocumentReviewDefault</flowName>
    </subflows>
    <subflows>
        <name>flowEvaluation</name>
        <label>flowEvaluation</label>
        <locationX>459</locationX>
        <locationY>1040</locationY>
        <flowName>flowDocumentReviewEvaluation</flowName>
        <inputAssignments>
            <name>documentType</name>
            <value>
                <elementReference>enrollmentDocument.Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>programEnrollmentID</name>
            <value>
                <elementReference>enrollmentDocument.Program_Enrollment__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>flowGD</name>
        <label>flowGD</label>
        <locationX>1182</locationX>
        <locationY>889</locationY>
        <flowName>flowDocumentReviewGD</flowName>
        <inputAssignments>
            <name>documentType</name>
            <value>
                <elementReference>enrollmentDocument.Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>enrollmentDocumentID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>flowHF</name>
        <label>flowHF</label>
        <locationX>1406</locationX>
        <locationY>685</locationY>
        <flowName>flowDocumentReviewHF</flowName>
        <inputAssignments>
            <name>documentType</name>
            <value>
                <elementReference>enrollmentDocument.Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>enrollmentDocumentID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>flowHLS</name>
        <label>flowHLS</label>
        <locationX>1319</locationX>
        <locationY>512</locationY>
        <flowName>flowDocumentReviewHLS</flowName>
        <inputAssignments>
            <name>enrollmentDocumentID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>documentType</name>
            <value>
                <elementReference>enrollmentDocument.Type__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>flowIEP</name>
        <label>flowIEP</label>
        <locationX>289</locationX>
        <locationY>940</locationY>
        <flowName>flowDocumentReviewIEP</flowName>
        <inputAssignments>
            <name>documentType</name>
            <value>
                <elementReference>enrollmentDocument.Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>programEnrollmentID</name>
            <value>
                <elementReference>enrollmentDocument.Program_Enrollment__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>flowIEPExit</name>
        <label>flowIEPExit</label>
        <locationX>388</locationX>
        <locationY>994</locationY>
        <flowName>flowDocumentReviewIEPExit</flowName>
        <inputAssignments>
            <name>documentType</name>
            <value>
                <elementReference>enrollmentDocument.Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>programEnrollmentID</name>
            <value>
                <elementReference>enrollmentDocument.Program_Enrollment__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>flowIR</name>
        <label>flowIR</label>
        <locationX>1194</locationX>
        <locationY>338</locationY>
        <flowName>flowDocumentReviewIR</flowName>
        <inputAssignments>
            <name>documentType</name>
            <value>
                <elementReference>enrollmentDocument.Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>enrollmentDocumentID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>flowMA</name>
        <label>flowMA</label>
        <locationX>1358</locationX>
        <locationY>606</locationY>
        <flowName>flowDocumentReviewMA</flowName>
        <inputAssignments>
            <name>documentType</name>
            <value>
                <elementReference>enrollmentDocument.Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>enrollmentDocumentID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>flowPAH</name>
        <label>flowPAH</label>
        <locationX>728</locationX>
        <locationY>958</locationY>
        <flowName>flowDocumentReviewPriorAcademicHistory</flowName>
        <inputAssignments>
            <name>documentType</name>
            <value>
                <elementReference>enrollmentDocument.Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProgramEnrollmentID</name>
            <value>
                <elementReference>enrollmentDocument.Program_Enrollment__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>flowPE</name>
        <label>flowPE</label>
        <locationX>1336</locationX>
        <locationY>744</locationY>
        <flowName>flowDocumentReviewPE</flowName>
        <inputAssignments>
            <name>enrollmentDocumentID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>documentType</name>
            <value>
                <elementReference>enrollmentDocument.Type__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>flowPOA</name>
        <label>flowPOA</label>
        <locationX>1120</locationX>
        <locationY>269</locationY>
        <flowName>flowDocumentReviewPOA</flowName>
        <inputAssignments>
            <name>documentType</name>
            <value>
                <elementReference>enrollmentDocument.Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>enrollmentDocumentID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>flowPOR</name>
        <label>flowPOR</label>
        <locationX>1045</locationX>
        <locationY>194</locationY>
        <flowName>flowDocumentReviewPOR</flowName>
        <inputAssignments>
            <name>enrollmentDocumentID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>documentType</name>
            <value>
                <elementReference>enrollmentDocument.Type__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>flowRC</name>
        <label>flowRC</label>
        <locationX>542</locationX>
        <locationY>1044</locationY>
        <flowName>flowDocumentReviewReportCard</flowName>
        <inputAssignments>
            <name>documentType</name>
            <value>
                <elementReference>enrollmentDocument.Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProgramEnrollmentID</name>
            <value>
                <elementReference>enrollmentDocument.Program_Enrollment__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>flowSTS</name>
        <label>flowSTS</label>
        <locationX>1257</locationX>
        <locationY>821</locationY>
        <flowName>flowDocumentReviewSTS</flowName>
        <inputAssignments>
            <name>enrollmentDocumentID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>documentType</name>
            <value>
                <elementReference>enrollmentDocument.Type__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>flowUT</name>
        <label>flowUT</label>
        <locationX>619</locationX>
        <locationY>997</locationY>
        <flowName>flowDocumentReviewUnofficialTranscripts</flowName>
        <inputAssignments>
            <name>documentType</name>
            <value>
                <elementReference>enrollmentDocument.Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProgramEnrollmentID</name>
            <value>
                <elementReference>enrollmentDocument.Program_Enrollment__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>enrollmentDocument</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Enrollment_Document__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
