force-app/main/default/flows/Given_DocumentReviewID_Fetch_Oldest_Enrollment_Document_Record.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Validate_ED_record</name>
        <label>Validate ED record</label>
        <locationX>317</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ED_IS_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ED_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DR_update_for_ON_NULL_ED</targetReference>
            </connector>
            <label>ED IS NULL</label>
        </rules>
        <rules>
            <name>ED_IS_NOT_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ED_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DR_update_ON_NOT_NULL_ED</targetReference>
            </connector>
            <label>ED IS NOT NULL</label>
        </rules>
    </decisions>
    <interviewLabel>Given DocumentReviewID, Fetch Oldest Enrollment Document Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Given DocumentReviewID, Fetch Oldest Enrollment Document Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Part of US: 109340
Valid Implies: 
=&gt; Enrollment_Document.Status Reason = &apos;Submitted&apos; AND Enrollment_Document.Submission_Time !=null</description>
        <name>Fetch_Oldest_valid_Enrollment_Document_c</name>
        <label>Fetch Oldest valid Enrollment_Document__c record</label>
        <locationX>306</locationX>
        <locationY>200</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_ED_record</targetReference>
        </connector>
        <filters>
            <field>Doc_File_Reference_Created__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Document_Review__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DocumentReviewID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status_Reason__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </filters>
        <object>Enrollment_Document__c</object>
        <outputReference>ED_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Document_Review__c</queriedFields>
        <queriedFields>Status_Reason__c</queriedFields>
        <queriedFields>Doc_File_Reference_Created__c</queriedFields>
        <sortField>Submission_Time__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>DR_update_for_ON_NULL_ED</name>
        <label>DR update for ON NULL ED</label>
        <locationX>532</locationX>
        <locationY>386</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DocumentReviewID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <object>Document_Review__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>DR_update_ON_NOT_NULL_ED</name>
        <label>DR update ON NOT NULL ED</label>
        <locationX>392</locationX>
        <locationY>569</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DocumentReviewID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Pending_Review_Date__c</field>
            <value>
                <elementReference>ED_Record.Doc_File_Reference_Created__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>Document_Review__c</object>
    </recordUpdates>
    <startElementReference>Fetch_Oldest_valid_Enrollment_Document_c</startElementReference>
    <status>Active</status>
    <variables>
        <name>DocumentReviewID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ED_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Enrollment_Document__c</objectType>
    </variables>
</Flow>
