force-app/main/default/flows/JBSystemFlow_Lead.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj2beb62e3c17cd1c7af94dcb7ba73e233_FireJBTrigger</name>
        <label>SalesforceObj2beb62e3c17cd1c7af94dcb7ba73e233_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj2f6d6b29f2440b5b74273c11bc9e7333</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj2f6d6b29f2440b5b74273c11bc9e7333</targetReference>
        </faultConnector>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Id&quot;,&quot;relationshipName&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Lead&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj2beb62e3c17cd1c7af94dcb7ba73e233</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>110006617</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Lead:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;FirstName&quot;,&quot;School_Acronym__c&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;Grade_Going_Into__c&quot;,&quot;School_ID_Location__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj2f6d6b29f2440b5b74273c11bc9e7333_FireJBTrigger</name>
        <label>SalesforceObj2f6d6b29f2440b5b74273c11bc9e7333_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Id&quot;,&quot;relationshipName&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Lead&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj2f6d6b29f2440b5b74273c11bc9e7333</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>110006617</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Lead:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;FirstName&quot;,&quot;School_Acronym__c&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;Grade_Going_Into__c&quot;,&quot;School_ID_Location__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj2beb62e3c17cd1c7af94dcb7ba73e233</name>
        <label>JB_Decision_Null_Check_SalesforceObj2beb62e3c17cd1c7af94dcb7ba73e233</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj2f6d6b29f2440b5b74273c11bc9e7333</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj2beb62e3c17cd1c7af94dcb7ba73e233_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj2beb62e3c17cd1c7af94dcb7ba73e233_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj2beb62e3c17cd1c7af94dcb7ba73e233_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj2f6d6b29f2440b5b74273c11bc9e7333</name>
        <label>JB_Decision_Null_Check_SalesforceObj2f6d6b29f2440b5b74273c11bc9e7333</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj2f6d6b29f2440b5b74273c11bc9e7333_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj2f6d6b29f2440b5b74273c11bc9e7333_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj2f6d6b29f2440b5b74273c11bc9e7333_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj2beb62e3c17cd1c7af94dcb7ba73e233_Decision</name>
        <label>JB_SalesforceObj2beb62e3c17cd1c7af94dcb7ba73e233_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj2f6d6b29f2440b5b74273c11bc9e7333</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj2beb62e3c17cd1c7af94dcb7ba73e233</name>
            <conditionLogic>( (1 AND 2)  And  (3 AND 4) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0120n0000009uUhAAI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.HasOptedOutOfEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.MasterRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.MasterRecord.Email</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>anandtest</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj2beb62e3c17cd1c7af94dcb7ba73e233_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj2beb62e3c17cd1c7af94dcb7ba73e233</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj2f6d6b29f2440b5b74273c11bc9e7333_Decision</name>
        <label>JB_SalesforceObj2f6d6b29f2440b5b74273c11bc9e7333_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj2f6d6b29f2440b5b74273c11bc9e7333</name>
            <conditionLogic>( (1 AND 2)  AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0120n0000009uUhAAI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.HasOptedOutOfEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Email</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>anandtest</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj2f6d6b29f2440b5b74273c11bc9e7333_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj2f6d6b29f2440b5b74273c11bc9e7333</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Lead</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObj2beb62e3c17cd1c7af94dcb7ba73e233</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
