force-app/main/default/flows/Lead_Create_Before_Save_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assigning_School_ID</name>
        <label>Assigning School ID</label>
        <locationX>567</locationX>
        <locationY>474</locationY>
        <assignmentItems>
            <assignToReference>$Record.School_ID_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Zip_Code.School_ID_Location__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>ADO #390171
Assign School ID Location to a lead based on the Zip Code, State and Grade offered</description>
    <formulas>
        <name>Zip5</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.PostalCode}, 5)</expression>
    </formulas>
    <interviewLabel>Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead - Create - Before Save Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Zip_Code</name>
        <label>Zip Code</label>
        <locationX>313</locationX>
        <locationY>415</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assigning_School_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Zip5</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Zip_Code__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>51</locationX>
        <locationY>52</locationY>
        <connector>
            <targetReference>Zip_Code</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PostalCode</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>School_ID_Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
