force-app/main/default/flows/LoginFlowForCareTakerProfile.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <interviewLabel>LoginFlowForCareTakerProfile {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LoginFlowForCareTakerProfilev4</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_User_Record</name>
        <label>Get User Record</label>
        <locationX>408</locationX>
        <locationY>65</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_User_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>user</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LastLoginDate</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_User_Record</name>
        <label>Update User Record</label>
        <locationX>608</locationX>
        <locationY>61</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Login_Date_Time__c</field>
            <value>
                <elementReference>user.LastLoginDate</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <start>
        <locationX>145</locationX>
        <locationY>65</locationY>
        <connector>
            <targetReference>Get_User_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>LoginFlow_Application</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_Community</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_IpAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_LoginType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_Platform</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_SessionLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_UserAgent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>user</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
