force-app/main/default/flows/School_Config_Cloning_Tool.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Get_All_Records</name>
        <label>Get All Records</label>
        <locationX>821</locationX>
        <locationY>338</locationY>
        <assignmentItems>
            <assignToReference>Get_Academic_Program_Information</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Academic_Program</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Latest_Record</name>
        <label>Check Latest Record</label>
        <locationX>784</locationX>
        <locationY>79</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTypeID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Educational Institution</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clone_the_Updated_Records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Tool to clone the school configuration tool.</description>
    <interviewLabel>School Config Cloning Tool {!$Flow.CurrentDateTime}</interviewLabel>
    <label>School Config Cloning Tool</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Required fields in the Academic Program Information</description>
        <name>Get_Academic_Program_Information</name>
        <label>Get_Academic_Program_Information</label>
        <locationX>515</locationX>
        <locationY>77</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Type_Name</targetReference>
        </connector>
        <filters>
            <field>Last_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CopiedLastName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CopiedAccountName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_School_Information</name>
        <label>Get Account School Information</label>
        <locationX>968</locationX>
        <locationY>338</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Records</targetReference>
        </connector>
        <filters>
            <field>Account_Record_Type_Text__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_Name</name>
        <label>Get Record Type Name</label>
        <locationX>633</locationX>
        <locationY>77</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Latest_Record</targetReference>
        </connector>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeID</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreatedBy</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Enrollment_Component__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Clone_the_Updated_Records</name>
        <label>Clone the Updated Records</label>
        <locationX>954</locationX>
        <locationY>73</locationY>
        <connector>
            <targetReference>Academic_Program_Screen</targetReference>
        </connector>
        <inputReference>Get_Record_Type_Name</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Academic_Program</name>
        <label>Update Academic Program</label>
        <locationX>679</locationX>
        <locationY>337</locationY>
        <inputReference>Get_Academic_Program_Information</inputReference>
    </recordUpdates>
    <screens>
        <name>Academic_Program_Screen</name>
        <label>Academic Program Screen</label>
        <locationX>955</locationX>
        <locationY>213</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Account_School_Information</targetReference>
        </connector>
        <fields>
            <name>AcademicProgram</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>83</locationX>
        <locationY>58</locationY>
        <connector>
            <targetReference>Get_Academic_Program_Information</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AcademicOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CopiedAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CopiedLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CreatedBy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SchoolAccountInfoCreation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
