force-app/main/default/flows/Update_Unverified_to_False.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Related_Records</name>
        <label>Create Related Records</label>
        <locationX>644</locationX>
        <locationY>442</locationY>
        <actionName>NES_AddHHMemApexController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Thank_you_Message</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <elementReference>ApexAction</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>addlHHMember</name>
            <value>
                <elementReference>Get_Record_from_contact</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <constants>
        <name>ApexAction</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Create Related Records</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_unverified</name>
        <label>Check unverified</label>
        <locationX>825</locationX>
        <locationY>48</locationY>
        <defaultConnector>
            <targetReference>Already_Unverified_false</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_unverified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Record_from_contact.Unverified__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Unverified_to_false</targetReference>
            </connector>
            <label>If unverified</label>
        </rules>
    </decisions>
    <description>Flow to Verify the Addl HH Member Contact.</description>
    <interviewLabel>Update nverit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Unverified to false</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Record_from_contact</name>
        <label>Get Record from contact</label>
        <locationX>495</locationX>
        <locationY>43</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_unverified</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_ticket_status</name>
        <label>Update ticket status</label>
        <locationX>1189</locationX>
        <locationY>443</locationY>
        <connector>
            <targetReference>Create_Related_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Working</stringValue>
            </value>
        </filters>
        <filters>
            <field>Origin</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Enrollment Assistance</stringValue>
            </value>
        </filters>
        <filters>
            <field>Ticket_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account Review</stringValue>
            </value>
        </filters>
        <filters>
            <field>Ticket_Sub_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account Access Requests / Changes</stringValue>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Subject_Name__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Get_Record_from_contact.FirstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject_Name__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Get_Record_from_contact.LastName</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Unverified_to_false</name>
        <label>Update Unverified to false</label>
        <locationX>1189</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Update_ticket_status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Unverified__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Unverified__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <name>Already_Unverified_false</name>
        <label>Already Unverified false</label>
        <locationX>830</locationX>
        <locationY>289</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Unverifiedfalse</name>
            <fieldText>&lt;p&gt;Applicable only for Unverified Contacts.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Thank_you_Message</name>
        <label>Thank you Message</label>
        <locationX>454</locationX>
        <locationY>444</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessfulMessage</name>
            <fieldText>&lt;p&gt;Additional Household Member Verified Successfully.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>120</locationX>
        <locationY>26</locationY>
        <connector>
            <targetReference>Get_Record_from_contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
